In [11]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")
warnings.warn("thus will not show")

In [12]:
df = pd.read_json('scout_car/scout_car.json', lines = True)

In [18]:
df.isnull().sum()*100 / df.shape[0]

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [13]:
x = df.isnull().sum()*100 / df.shape[0]

In [19]:
x[x.values > 35]

prev_owner                        42.892141
kW                               100.000000
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Full Service                      48.395000
Non-smoking Vehicle               54.915510
Paint Type                        36.258559
Model Code                        68.729192
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Emission Label                    74.967021
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

0    \n2\n
1      NaN
2    \n1\n
3    \n1\n
4    \n1\n
Name: Previous Owners, dtype: object

In [ ]:
# %35 den fazla NaN

In [6]:
df.drop(labels = ['url', 'description','short_description', 'null', 'Make','Model', 'kW','Offer Number', 'Country version',
        'Electricity consumption',
        'Last Service Date',
        'Other Fuel Types',
        'Availability',
        'Last Timing Belt Service Date',
        'Available from',
        'Body Color Original',
        'Type',
        'Full Service',
        'Next Inspection',
        'Inspection new',
        'Non-smoking Vehicle',
        'Paint Type',
        'Emission Label',
        'Model Code',
        'prev_owner'], axis = 1, inplace = True)

In [7]:
df.isnull().sum()*100 / df.shape[0]

make_model                    0.000000
body_type                     0.376908
price                         0.000000
vat                          28.349771
km                            0.000000
registration                  0.000000
hp                            0.000000
Previous Owners              41.711163
Warranty                     34.047365
First Registration           10.032037
Body Color                    3.750236
Upholstery                   23.368302
Body                          0.376908
Nr. of Doors                  1.331742
Nr. of Seats                  6.137320
Gearing Type                  0.000000
Displacement                  3.115774
Cylinders                    35.680633
Weight                       43.809285
Drive chain                  43.080596
Fuel                          0.000000
Consumption                  11.973114
CO2 Emission                 11.357497
Emission Class               18.977323
\nComfort & Convenience\n     5.779257
\nEntertainment & Media\n     8.631195
\nExtras\n                   18.606696
\nSafety & Security\n         6.168729
Gears                        29.599849
dtype: float64

In [8]:
df.shape

(15919, 29)