In [1]:
import pandas as pd
import numpy as np
import json
import warnings

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_info_columns', 500)
pd.set_option('display.max_info_rows', 2000)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.width', 2000)

warnings.filterwarnings("ignore")
warnings.warn("thus will not show")

In [2]:
df_auto = pd.read_json('scout_car/scout_car.json', orient = 'records' ,lines = True)

In [3]:
df_auto.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]","[Bluetooth, Hands-free equipment, On-board computer, Radio]","[Alloy wheels, Catalytic Converter, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\n, Sicherheit:, , Deaktivierung für Beifahrer-Airbag, , ESC mit elektronischer Quersperre, , Tagfahrlicht, , Reifendruck-Kontrollanzeige, , Kopfairbag-System mit Seiten-Airbags vorn, , Sicherheitslenksäule, Assistenzsysteme:, , Berganfahrassistent, Komfort:, , Scheinwerferreinigung, , Xenon plus inklusive Scheinwerfer-Reinigungsanlage, , Scheinwerfer-Reinigungsanlage, , Einparkhilfe hinten, , Licht-/Regensensor, , Funkfernbedienung, , Elektrische Luftzusatzheizung, Interieur:...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-8-tfsi-sport-gasoline-red-b2547f8a-e83f-6237-e053-e250040a56df,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)], [4.7 l/100 km (country)]]",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, Hill Holder, Leather steering wheel, Lumbar support, Parking assist system sensors rear, Power windows, Start-stop system, Tinted windows]","[Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system]","[Alloy wheels, Sport seats, Sport suspension, Voice Control]","[ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\nLangstreckenfahrzeug daher die hohe Kilometerleistung. , Bremsen neu bei 62000 km. , Gut gepflegter A1\n]",[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sportback-1-6-tdi-s-tronic-einparkhilfe-plus-music-diesel-black-6183cb6a-8570-4b86-a132-9b54214bca88,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+music,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)], [3.4 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating, Start-stop system]","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 24.640 EUR, , Komfort, , Klimaanlage, , Elektrische Fensterheber, , Sitzheizung, , Tempomat, , Zentralverriegelung, , Leder-Lenkrad, , Elektrische Spiegel, , Wärmedämmendes Glas, , Anfahrassistent, , Sicherheit, , Window/Kopfairbags, , ESP (el. Stabilitäts Programm), , Elektronische Wegfahrsperre, , Reifendruckkontrolle, , Tagfahrlicht, , Exterieur, , Alufelgen 16 Zoll, , Einparkhilfe vo + hi, , Interieur, , Stoff Zeitgeist, ...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-4-tdi-design-s-tronic-diesel-brown-35c86585-2727-d61e-e053-e250040ad640,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, Electrical side mirrors, Heads-up display, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system]","[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB]","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with remote control, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]","[\nAudi A1: , - 1e eigenaar , - Perfecte staat: schade/ongevalvrij , - Onderhoudsboekje Audi garage , - Full option!, - S-line opties, - Automaat, lederen bekleding, navi-pro, Xenon lampen, zetelverwarming, automatische airco,...\n]",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-s-line-ext-admired-xe-diesel-black-b86b55d8-9c7c-4a58-b658-b97008a51efc,Audi A1,"Sportback 1.4 TDI S-Tronic S-Line Ext. admired, Xe",Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)], [3.8 l/100 km (country)]]",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Start-stop system]","[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]","[Alloy wheels, Sport package, Sport suspension, Voice Control]","[ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\n, Technik & Sicherheit:, Xenon plus, Klimaautomatik, Einparkhilfe hinten, Scheinwerferreinigungsanlage, Nebelscheinwerfer, Zentralverriegelung mit Fernbedienung, Außenspiegel elek. einstellbar, Fensterheber elek, Start/Stop Anlage, 6 Airbag inkl. Kopfairbag, Euro 6, Multimedia:, Radio CD Concert, audi music interface, Handyvorbereitung (Bluetooth), Sprachsteuerung, USB Anschluss, Assistenzsysteme:, Lichtsensor, Regensensor, Berganfahrassistent, Reifendruckkontrolle, ESP inkl. ABS, Interie...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Dtype
---  ------                         -----
 0   url                            object
 1   make_model                     object
 2   short_description              object
 3   body_type                      object
 4   price                          int64
 5   vat                            object
 6   km                             object
 7   registration                   object
 8   prev_owner                     object
 9   kW                             float64
 10  hp                             object
 11  Type                           object
 12  Previous Owners                object
 13  Next Inspection                object
 14  Inspection new                 object
 15  Warranty                       object
 16  Full Service                   object
 17  Non-smoking Vehicle            object
 18  null                           object
 19  Make                           object
 20  Model                          object
 21  Offer Number                   object
 22  First Registration             object
 23  Body Color                     object
 24  Paint Type                     object
 25  Body Color Original            object
 26  Upholstery                     object
 27  Body                           object
 28  Nr. of Doors                   object
 29  Nr. of Seats                   object
 30  Model Code                     object
 31  Gearing Type                   object
 32  Displacement                   object
 33  Cylinders                      object
 34  Weight                         object
 35  Drive chain                    object
 36  Fuel                           object
 37  Consumption                    object
 38  CO2 Emission                   object
 39  Emission Class                 object
 40
Comfort & Convenience
        object
 41
Entertainment & Media
        object
 42
Extras
                       object
 43
Safety & Security
            object
 44  description                    object
 45  Emission Label                 object
 46  Gears                          object
 47  Country version                object
 48  Electricity consumption        object
 49  Last Service Date              object
 50  Other Fuel Types               object
 51  Availability                   object
 52  Last Timing Belt Service Date  object
 53  Available from                 object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [5]:
df_auto.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [6]:
df_auto.shape[0]

15919

### Percentage of missing values by columns

In [7]:
df_auto.isnull().sum() * 100 / df_auto.shape[0]

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [8]:
col_list = list(df_auto.columns)

In [9]:
def show_nans(data, limit):
    missing = data.isnull().sum() * 100 / data.shape[0]
    return missing.loc[lambda x : x > limit]

show_nans(df_auto, 35)

prev_owner                        42.892141
kW                               100.000000
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Full Service                      48.395000
Non-smoking Vehicle               54.915510
Paint Type                        36.258559
Model Code                        68.729192
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Emission Label                    74.967021
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [10]:
show_nans(df_auto, 90)

kW                               100.000000
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

We can drop the columns which have 90 percentage or high of missing values.

'Availability', 'Available from', 'Electricity consumption', 'Last Service Date', 'Last Timing Belt Service Date', 'Other Fuel Types', 'kW'

#### Columns which over 90 percent of the values are missing. These can be dropped.

In [11]:
drop_cols = list(show_nans(df_auto, 90).index)
df_auto.drop(labels = drop_cols, axis=1, inplace=True)

In [12]:
df_auto.shape

(15919, 47)

In [13]:
df_auto["Non-smoking Vehicle"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
                                                                                              ...
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, Length: 94, dtype: int64

In [14]:
df_auto.drop("Non-smoking Vehicle", axis = 1, inplace = True)

## Let's start with the column one by one

***

## ```prev_owner``` and ```Previous Owners```

'prev_owner' is very similar to 'Previous Owners'. 'Weight' and 'Non-smoking Vehicle' are assumed that they don't have meaningful effect on the result. So we can drop them all.

In [15]:
df_auto[["prev_owner", "Previous Owners"]]

              prev_owner                                                                            Previous Owners
0      2 previous owners                                                                                      \n2\n
1                   None                                                                                        NaN
2       1 previous owner                                                                                      \n1\n
3       1 previous owner                                                                                      \n1\n
4       1 previous owner                                                                                      \n1\n
...                  ...                                                                                        ...
15914               None                                                                                        NaN
15915   1 previous owner  [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]
15916   1 previous owner                                                           [\n1\n, \n139 g CO2/km (comb)\n]
15917               None                                                                                        NaN
15918   1 previous owner                                                                                      \n1\n

[15919 rows x 2 columns]

In [16]:
df_auto["prev_owner"].value_counts(dropna = False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [17]:
df_auto["Previous Owners"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n181 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n1\n, \nEuro 6\n]                                                                             1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n1\n, \n102 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 103, dtype: int64

In [18]:
df_auto["Previous Owners"].str.strip("\n").value_counts(dropna = False)

1      8101
NaN    6870
2       766
0       163
3        17
4         2
Name: Previous Owners, dtype: int64

In [19]:
df_auto["Previous Owners"].str[0].str[1].value_counts()

1    193
0     25
2     12
Name: Previous Owners, dtype: int64

In [20]:
df_auto["pre_owner_temp"] = df_auto["Previous Owners"].str[0].str[1]

In [21]:
df_auto["pre_owner_temp"].value_counts()

1    193
0     25
2     12
Name: pre_owner_temp, dtype: int64

In [22]:
df_auto["pre_owner_new"] = df_auto["Previous Owners"].str.strip("\n")

In [23]:
df_auto["pre_owner_new"].fillna(df_auto.pre_owner_temp, inplace = True)

In [24]:
df_auto["pre_owner_new"].value_counts(dropna = False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: pre_owner_new, dtype: int64

In [25]:
df_auto["pre_owner_new"].fillna(df_auto["prev_owner"].str[0], inplace = True)

In [26]:
df_auto["pre_owner_new"].value_counts(dropna = False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: pre_owner_new, dtype: int64

In [27]:
df_auto["pre_owner_new"].fillna(method = "bfill", inplace = True)
df_auto["pre_owner_new"].value_counts(dropna = False)

1    14169
2     1179
0      531
3       38
4        2
Name: pre_owner_new, dtype: int64

***

## ```body_type```

In [28]:
df_auto['body_type'].value_counts(dropna = False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [29]:
df_auto.groupby("make_model")["body_type"].value_counts(dropna = False)

make_model      body_type
Audi A1         Sedans           1538
                Compact          1039
                Station wagon      21
                Other              13
                Coupe               2
                Van                 1
Audi A2         Off-Road            1
Audi A3         Sedans           2598
                Station wagon     282
                Compact           182
                Other              16
                Convertible         8
                NaN                 7
                Coupe               4
Opel Astra      Station wagon    1211
                Sedans           1053
                Compact           185
                Other              67
                NaN                 7
                Coupe               2
                Off-Road            1
Opel Corsa      Compact          1230
                Sedans            875
                Other              87
                Coupe              13
                Transporter         7
                Off-Road            3
                NaN                 2
                Van                 2
Opel Insignia   Station wagon    1611
                Sedans            900
                Other              48
                Compact            27
                Off-Road            7
                NaN                 3
                Coupe               1
                Van                 1
Renault Clio    Sedans            918
                Compact           484
                Station wagon     337
                Other              51
                Transporter        29
                NaN                15
                Off-Road            2
                Van                 2
                Coupe               1
Renault Duster  Off-Road           34
Renault Espace  Van               777
                Station wagon      91
                Transporter        52
                NaN                26
                Sedans             21
                Off-Road            8
                Other               8
                Compact             6
                Coupe               2
Name: body_type, dtype: int64

In [30]:
def fillmost(data, by_column, column_to_be_filled):
    for group in data[by_column].unique():
        group_ind = list(data[data[by_column] == group][column_to_be_filled].index)
        data[column_to_be_filled].iloc[group_ind] = data[column_to_be_filled].iloc[group_ind].fillna(data[data[by_column] == group][column_to_be_filled].mode()[0])

In [31]:
fillmost(df_auto, "make_model", "body_type")

In [32]:
df_auto.groupby("make_model")["body_type"].value_counts(dropna = False)

make_model      body_type
Audi A1         Sedans           1538
                Compact          1039
                Station wagon      21
                Other              13
                Coupe               2
                Van                 1
Audi A2         Off-Road            1
Audi A3         Sedans           2605
                Station wagon     282
                Compact           182
                Other              16
                Convertible         8
                Coupe               4
Opel Astra      Station wagon    1218
                Sedans           1053
                Compact           185
                Other              67
                Coupe               2
                Off-Road            1
Opel Corsa      Compact          1232
                Sedans            875
                Other              87
                Coupe              13
                Transporter         7
                Off-Road            3
                Van                 2
Opel Insignia   Station wagon    1614
                Sedans            900
                Other              48
                Compact            27
                Off-Road            7
                Coupe               1
                Van                 1
Renault Clio    Sedans            933
                Compact           484
                Station wagon     337
                Other              51
                Transporter        29
                Off-Road            2
                Van                 2
                Coupe               1
Renault Duster  Off-Road           34
Renault Espace  Van               803
                Station wagon      91
                Transporter        52
                Sedans             21
                Off-Road            8
                Other               8
                Compact             6
                Coupe               2
Name: body_type, dtype: int64

```Body``` column can be dropped.

In [33]:
df_auto.drop("Body", axis = 1, inplace = True)

***

###  ```inspection new```

In [34]:
df_auto["Inspection new"].isnull().sum() / len(df_auto["Inspection new"])

0.7529995602738866

75 percent of the values is missing, we can convert this cloumn to boolean by whether inspection new or not.

In [35]:
df_auto["Inspection new"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n1 (No sticker)\n]                                                                      1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.6 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]        1
[\nYes\n, \n, 5.2 l/100 km (comb), \n, 6.8 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[\nYes\n, \n, 6.7 l/100 km (comb), \n, 8.7 l/100 km (city), \n, 5.6 l/100 km (country), \n]        1
Name: Inspection new, Length: 203, dtype: int64

In [36]:
df_auto["Inspection new"].str[0].value_counts(dropna = False)

NaN        11987
\nYes\n     3570
\n           362
Name: Inspection new, dtype: int64

In [37]:
df_auto["inspection_new"] = df_auto["Inspection new"].str[0].str.contains('\n', na = False) * 1

In [38]:
df_auto["inspection_new"].value_counts(dropna = False)

0    11987
1     3932
Name: inspection_new, dtype: int64

***

### ```Next Inspection```

In [39]:
df_auto["Next Inspection"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                12384
\n04/2022\n                                                                                           62
\n03/2021\n                                                                                           38
\n03/2022\n                                                                                           36
\n06/2021\n                                                                                           34
                                                                                                   ...
[\n11/2021\n, \n161 g CO2/km (comb)\n]                                                                 1
[\n04/2021\n, \n103 g CO2/km (comb)\n]                                                                 1
[\n11/2020\n, \n0 kWh/100 km (comb)\n]                                                                 1
[\n03/2022\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.7 l/100 km (country), \n]        1
[\n01/2019\n, \n135 g CO2/km (comb)\n]                                                                 1
Name: Next Inspection, Length: 1400, dtype: int64

In [40]:
ni_list = ["".join(item).strip() if type(item) == list else item for item in df_auto["Next Inspection"]]
df_auto["next_inspection"] = pd.DataFrame(ni_list)

In [41]:
df_auto["next_inspection"]

0         06/2021\n\n99 g CO2/km (comb)
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
                      ...
15914                               NaN
15915    01/2022\n\n168 g CO2/km (comb)
15916                               NaN
15917                               NaN
15918                               NaN
Name: next_inspection, Length: 15919, dtype: object

In [42]:
df_auto["next_inspection"] = df_auto["next_inspection"].str.extract("(\d\d/\d\d\d\d)")

In [43]:
df_auto["next_inspection"].value_counts(dropna = False)

NaN        12384
06/2021      471
03/2021      210
05/2021      180
04/2021      171
           ...
01/1999        1
01/1921        1
03/2024        1
05/2014        1
02/2017        1
Name: next_inspection, Length: 78, dtype: int64

In [44]:
df_auto["next_inspection"] = pd.to_datetime(df_auto.next_inspection, format = "%m/%Y")

next inspection column has % 77 of missing value, lets leave now it as it is, later we will have look again.

### ```Paint Type```

In [45]:
df_auto["Paint Type"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [46]:
df_auto["Paint Type"].isnull().sum()/ df_auto.shape[0]

0.3625855895470821

In [47]:
df_auto["Paint Type"].str[0].str.strip().value_counts(dropna = False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

In [48]:
df_auto["paint_type"] = df_auto["Paint Type"].str[0].str.strip()

In [49]:
df_auto["paint_type"].value_counts(dropna = False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

***

### ```Country version```

In [50]:
df_auto["Country version"].value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nSerbia\n]               1
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
Name: Country version, dtype: int64

In [51]:
df_auto["country_version"] = df_auto["Country version"].str[0].str.strip()

***

### ```Cylinders```

In [52]:
df_auto["Cylinders"].isnull().sum()/df_auto.shape[0]

0.3568063320560337

In [53]:
df_auto["Cylinders"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [54]:
df_auto["cylinders_new"] = df_auto["Cylinders"].str[0].str.strip()

In [55]:
df_auto["cylinders_new"].value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: cylinders_new, dtype: int64

***

### ```Emission label```

This column can be converted boolean by whether vehicle has emission label value or not.

In [56]:
df_auto["Emission Label"].value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     11934
[\n4 (Green)\n]          3553
[\n1 (No sticker)\n]      381
[[], [], []]               40
[\n5 (Blue)\n]              8
[\n3 (Yellow)\n]            2
[\n2 (Red)\n]               1
Name: Emission Label, dtype: int64

In [57]:
df_auto["Emission Label"].str[0].str.strip().value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: Emission Label, dtype: int64

In [58]:
df_auto["emission_label"] = df_auto["Emission Label"].str[0].str.strip()

***

### ```Full service```

The values are inconsistent so this column can be dropped.

In [59]:
df_auto["Full Service"].isnull().sum()/df_auto.shape[0]

0.4839499968590992

In [60]:
df_auto["Full Service"]

0                                [\n, \n]
1                                     NaN
2                                     NaN
3        [\n, \n, \n99 g CO2/km (comb)\n]
4                 [\n, \n, \n4 (Green)\n]
                       ...
15914                                 NaN
15915                                 NaN
15916                            [\n, \n]
15917                                 NaN
15918                                 NaN
Name: Full Service, Length: 15919, dtype: object

In [61]:
df_auto.drop("Full Service",axis = 1, inplace = True)

***

### ```Comfort & Convenience```

In [62]:
df_auto["comfort_convenience"] = df_auto["\nComfort & Convenience\n"]

In [63]:
df_auto.drop("\nComfort & Convenience\n", axis = 1, inplace = True)

In [64]:
df_auto["comfort_convenience"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                             216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                          134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                   130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                105
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                         92
                                                                                                                                                                                                                                                                                                                                                                                                                   ...
[Air conditioning, Cruise control, Electrical side mirrors, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                                                                       1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system camera, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system]                                                    1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Rain sensor, Seat heating]                                                                                                                                                                                    1
[Air conditioning, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]      1
[Air conditioning, Electrical side mirrors, Light sensor, Multi-function steering wheel, Parking assist system sensors rear, Power windows, Rain sensor]                                                                                                                                                                                                                                                              1
Name: comfort_convenience, Length: 6198, dtype: int64


**The features of the car are listed in comfort & convenince column, so this column would be a big impact on predicting the price of the car.**

**We have to find the unique values that each car can have.**

First lets convert the NaN values to empty list.

Then combine all values using set().update() syntax


```python

uni = set()
uni.update(np.nan)
uni.update(["a", "b", "a"])
list(uni)


# This code results TypeError because of the NaN values.

```

- **Lets define a function**

In [65]:
def unique_values(data,column_name):
    unique_vals = set()
    for rows in data[column_name]:
        unique_vals.update(rows)
    return list(unique_vals)
        
def Nan_to_list(data,column_name):
    NaN_rows = data[column_name].isnull()
    data.loc[NaN_rows, column_name] = data.loc[NaN_rows, column_name].apply(lambda x: [])

In [66]:
Nan_to_list(df_auto, "comfort_convenience")

In [67]:
unique_values(df_auto, "comfort_convenience")

['Air conditioning',
 'Electrically heated windshield',
 'Parking assist system self-steering',
 'Air suspension',
 'Start-stop system',
 'Electric tailgate',
 'Parking assist system sensors rear',
 'Rain sensor',
 'Heads-up display',
 'Power windows',
 'Cruise control',
 'Massage seats',
 'Parking assist system sensors front',
 'Tinted windows',
 'Park Distance Control',
 'Windshield',
 'Leather steering wheel',
 'Multi-function steering wheel',
 'Sunroof',
 'Light sensor',
 'Leather seats',
 'Split rear seats',
 'Electrical side mirrors',
 'Electric Starter',
 'Keyless central door lock',
 'Armrest',
 'Hill Holder',
 'Automatic climate control',
 'Lumbar support',
 'Heated steering wheel',
 'Navigation system',
 'Parking assist system camera',
 'Seat ventilation',
 'Electrically adjustable seats',
 'Panorama roof',
 'Auxiliary heating',
 'Seat heating',
 'Wind deflector']

- **38 unique features**
### Lets convert all rows in comfort&convenience column from list and to comma seperated strings.

In [68]:
com_con_list = [",".join(item).strip() if type(item) == list else item for item in df_auto["comfort_convenience"]]

In [69]:
df_auto["comfort_convenience"] = pd.DataFrame(com_con_list)

In [70]:
df_auto["comfort_convenience"].value_counts(dropna = False)

                                                                                                                                                                                                                                                                                                                                                      920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                    216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                        130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    105
                                                                                                                                                                                                                                                                                                                                                     ...
Air conditioning,Armrest,Electrical side mirrors,Leather steering wheel,Light sensor,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                            1
Air conditioning,Cruise control,Electrical side mirrors,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Start-stop system                                                                                                                                                                          1
Cruise control,Multi-function steering wheel,Power windows                                                                                                                                                                                                                                                                                              1
Air conditioning,Automatic climate control,Light sensor,Navigation system,Park Distance Control,Parking assist system self-steering,Power windows,Rain sensor,Start-stop system                                                                                                                                                                         1
Air conditioning,Armrest,Automatic climate control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system                                                                          1
Name: comfort_convenience, Length: 6199, dtype: int64

**Lets convert the empty lists to NaN, and fill nan values using our ```fillmost()``` function**

In [71]:
df_auto.loc[df_auto["comfort_convenience"] == '',"comfort_convenience"] = np.nan

In [72]:
df_auto["comfort_convenience"].value_counts(dropna = False).head()

NaN                                                                                                                                                                                                                                                                                                                                                   920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                    216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                        130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    105
Name: comfort_convenience, dtype: int64

In [73]:
fillmost(df_auto, "make_model", "comfort_convenience")

In [74]:
df_auto["comfort_convenience"].value_counts(dropna = False)

Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                             389
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Electric tailgate,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    259
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Start-stop system                                                                                                                                                                                                                                                                                        207
Air conditioning,Automatic climate control,Cruise control,Multi-function steering wheel,Park Distance Control,Power windows                                                                                                                                                                                                                                                                                                                                                                    190
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                             187
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
Air conditioning,Cruise control,Electrical side mirrors,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Start-stop system                                                                                                                                                                                                                                                                                                                   1
Cruise control,Multi-function steering wheel,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Air conditioning,Automatic climate control,Light sensor,Navigation system,Park Distance Control,Parking assist system self-steering,Power windows,Rain sensor,Start-stop system                                                                                                                                                                                                                                                                                                                  1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Electric tailgate,Heads-up display,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Panorama roof,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                          1
Air conditioning,Armrest,Automatic climate control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system                                                                                                                                                                                                                   1
Name: comfort_convenience, Length: 6198, dtype: int64

In [75]:
df_auto["comfort_convenience"].str.get_dummies(sep = ',')

       Air conditioning  Air suspension  Armrest  Automatic climate control  Auxiliary heating  Cruise control  Electric Starter  Electric tailgate  Electrical side mirrors  Electrically adjustable seats  Electrically heated windshield  Heads-up display  Heated steering wheel  Hill Holder  Keyless central door lock  Leather seats  Leather steering wheel  Light sensor  Lumbar support  Massage seats  Multi-function steering wheel  Navigation system  Panorama roof  Park Distance Control  Parking assist system camera  Parking assist system self-steering  Parking assist system sensors front  Parking assist system sensors rear  Power windows  Rain sensor  Seat heating  Seat ventilation  Split rear seats  Start-stop system  Sunroof  Tinted windows  Wind deflector  Windshield
0                     1               0        1                          1                  0               1                 0                  0                        1                              0                               0                 0                      0            1                          0              0                       1             1               0              0                              1                  1              0                      1                             0                                    0                                    0                                   1              1            1             1                 0                 0                  1        0               0               0           0
1                     1               0        0                          1                  0               0                 0                  0                        0                              0                               0                 0                      0            1                          0              0                       1             0               1              0                              0                  0              0                      0                             0                                    0                                    0                                   1              1            0             0                 0                 0                  1        0               1               0           0
2                     1               0        0                          0                  0               1                 0                  0                        1                              0                               0                 0                      0            1                          0              0                       1             0               0              0                              1                  1              0                      1                             0                                    0                                    1                                   1              1            0             1                 0                 0                  1        0               0               0           0
3                     0               1        1                          0                  1               0                 0                  0                        1                              0                               0                 1                      0            1                          0              0                       1             1               1              0                              1                  1              0                      0                             0                                    0                                    0                                   0              1            1             1                 0                 1                  1        0               0               0           0
4                     1               0        1                          1                  0               0                 0                  0                        1                              0                               0                 0                      0            1                          0              0                       1             1               0              0                              1                  0              0                      1                             0                                    0                                    0                                   1              1            1             0                 0                 0                  1        0               0               0           0
...                 ...             ...      ...                        ...                ...             ...               ...                ...                      ...                            ...                             ...               ...                    ...          ...                        ...            ...                     ...           ...             ...            ...                            ...                ...            ...                    ...                           ...                                  ...                                  ...                                 ...            ...          ...           ...               ...               ...                ...      ...             ...             ...         ...
15914                 1               0        0                          1                  0               1                 0                  0                        1                              1                               0                 0                      0            1                          1              0                       1             1               0              1                              1                  1              0                      1                             0                                    0                                    1                                   1              1            1             0                 0                 1                  1        0               1               0           0
15915                 1               0        0                          1                  0               1                 0                  1                        1                              0                               1                 1                      1            1                          1              0                       1             1               1              0                              0                  1              0                      1                             1                                    1                                    1                                   1              1            1             1                 0                 0                  0        1               0               0           0
15916                 1               0        1                          1                  0               1                 0                  1                        1                              0                               1                 1                      1            0                          0              0                       1             1               0              1                              1                  1              1                      1                             1                                    0                                    1                                   1              1            1             1                 1                 0                  0        1               0               0           0
15917                 1               0        0                          1                  0               1                 0                  0                        1                              1                               0                 0                      0            0                          0              0                       1             1               0              0                              0                  0              0                      1                             0                                    0                                    0                                   0              1            0             0                 0                 0                  1        0               0               0           0
15918                 1               0        0                          1                  0               1                 0                  1                        1                              1                               0                 0                      0            1                          0              0                       1             0               0              0                              0                  1              0                      0                             0                                    0                                    0                                   0              1            0             1                 0                 0                  0        0               0               0           0

[15919 rows x 38 columns]

In [76]:
df_auto = df_auto.join(df_auto["comfort_convenience"].str.get_dummies(sep = ',').add_prefix("cc_"))

In [77]:
df_auto.shape

(15919, 90)

***

### ```Entertainment & Media```

In [78]:
df_auto["\nEntertainment & Media\n"].isnull().sum()/ df_auto.shape[0]

0.0863119542684842

In [79]:
df_auto.rename(columns={"\nEntertainment & Media\n" : "ent_media"}, inplace = True )

In [80]:
df_auto["ent_media"].value_counts(dropna =False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                      1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                         1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                     982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]          783
[On-board computer, Radio]                                                                487
                                                                                         ...
[Bluetooth, MP3, On-board computer, Sound system, USB]                                      1
[CD player, Hands-free equipment, On-board computer, Radio, Sound system, Television]       1
[Bluetooth, Digital radio, On-board computer, Sound system, USB]                            1
[CD player, Hands-free equipment, MP3, Radio, USB]                                          1
[CD player, Digital radio, Radio]                                                           1
Name: ent_media, Length: 347, dtype: int64

In [81]:
Nan_to_list(df_auto, "ent_media")
unique_values(df_auto,"ent_media")

['Radio',
 'Television',
 'Hands-free equipment',
 'MP3',
 'On-board computer',
 'CD player',
 'USB',
 'Bluetooth',
 'Digital radio',
 'Sound system']

In [82]:
ent_media_list = [",".join(item).strip() if type(item) == list else item for item in df_auto["ent_media"]]
df_auto["ent_media"] = pd.DataFrame(ent_media_list)

In [83]:
df_auto["ent_media"].value_counts(dropna= False)

                                                                            1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB               982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB     783
On-board computer,Radio                                                      487
                                                                            ...
CD player,USB                                                                  1
Digital radio,Hands-free equipment,On-board computer,Radio,Sound system        1
Bluetooth,MP3,On-board computer,Sound system,USB                               1
Bluetooth,Digital radio,MP3,Sound system,USB                                   1
Digital radio,Sound system,USB                                                 1
Name: ent_media, Length: 347, dtype: int64

In [84]:
df_auto.loc[df_auto["ent_media"] == '',"ent_media"] = np.nan

In [85]:
df_auto["ent_media"].value_counts(dropna= False)

NaN                                                                         1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB               982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB     783
On-board computer,Radio                                                      487
                                                                            ...
CD player,USB                                                                  1
Digital radio,Hands-free equipment,On-board computer,Radio,Sound system        1
Bluetooth,MP3,On-board computer,Sound system,USB                               1
Bluetooth,Digital radio,MP3,Sound system,USB                                   1
Digital radio,Sound system,USB                                                 1
Name: ent_media, Length: 347, dtype: int64

In [86]:
fillmost(df_auto, "make_model", "ent_media")

In [87]:
df_auto["ent_media"].value_counts(dropna= False)

Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  2015
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB              1206
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB    1049
Bluetooth,Hands-free equipment,On-board computer,Radio                       529
On-board computer,Radio                                                      487
                                                                            ...
CD player,USB                                                                  1
Digital radio,Hands-free equipment,On-board computer,Radio,Sound system        1
Bluetooth,MP3,On-board computer,Sound system,USB                               1
Bluetooth,Digital radio,MP3,Sound system,USB                                   1
Digital radio,Sound system,USB                                                 1
Name: ent_media, Length: 346, dtype: int64

In [88]:
df_auto["ent_media"].str.get_dummies(sep = ",")

       Bluetooth  CD player  Digital radio  Hands-free equipment  MP3  On-board computer  Radio  Sound system  Television  USB
0              1          0              0                     1    0                  1      1             0           0    0
1              1          0              0                     1    0                  1      1             1           0    0
2              0          0              0                     0    1                  1      0             0           0    0
3              1          1              0                     1    1                  1      1             1           0    1
4              1          1              0                     1    1                  1      1             0           0    1
...          ...        ...            ...                   ...  ...                ...    ...           ...         ...  ...
15914          1          0              1                     1    0                  1      1             0           0    1
15915          1          0              1                     1    0                  0      1             0           0    1
15916          1          0              0                     1    0                  1      1             0           0    0
15917          1          0              1                     0    0                  0      1             0           0    1
15918          0          0              0                     0    0                  0      0             0           0    1

[15919 rows x 10 columns]

In [89]:
df_auto = df_auto.join(df_auto["ent_media"].str.get_dummies(sep = ",").add_prefix("em_"))

***

### ```Extras```

In [90]:
df_auto.rename(columns = {"\nExtras\n":"extras"}, inplace = True)

In [91]:
100 * df_auto["extras"].isnull().sum()/ df_auto.shape[0]

18.60669640052767

In [92]:
df_auto["extras"].value_counts(dropna= False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                                                                         3245
NaN                                                                                                    2962
[Alloy wheels, Touch screen]                                                                            697
[Alloy wheels, Voice Control]                                                                           577
[Alloy wheels, Touch screen, Voice Control]                                                             541
                                                                                                       ...
[Alloy wheels, Sport suspension, Touch screen, Trailer hitch, Voice Control]                              1
[Alloy wheels, Catalytic Converter, Handicapped enabled, Touch screen, Voice Control, Winter tyres]       1
[Ski bag, Sport suspension]                                                                               1
[Alloy wheels, Sport package, Sport seats, Sport suspension, Tuned car]                                   1
[Sport seats, Sport suspension, Voice Control]                                                            1
Name: extras, Length: 660, dtype: int64

In [93]:
df_auto["extras"] = pd.DataFrame([",".join(item).strip() if type(item) == list else item for item in df_auto["extras"]])

In [94]:
df_auto["extras"].value_counts(dropna = False)

Alloy wheels                                                                                                3245
NaN                                                                                                         2962
Alloy wheels,Touch screen                                                                                    697
Alloy wheels,Voice Control                                                                                   577
Alloy wheels,Touch screen,Voice Control                                                                      541
                                                                                                            ...
Roof rack,Sport seats,Touch screen,Winter tyres                                                                1
Alloy wheels,Handicapped enabled,Touch screen,Voice Control,Winter tyres                                       1
Alloy wheels,Shift paddles,Ski bag,Sport package,Sport seats,Sport suspension,Touch screen,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Shift paddles,Sport package                                         1
Alloy wheels,Sport suspension,Touch screen,Tuned car                                                           1
Name: extras, Length: 660, dtype: int64

In [95]:
fillmost(df_auto,"make_model", "extras")

In [96]:
df_auto["extras"].value_counts(dropna = False)

Alloy wheels                                                                                     6174
Alloy wheels,Touch screen                                                                         697
Alloy wheels,Voice Control                                                                        577
Alloy wheels,Touch screen,Voice Control                                                           541
Alloy wheels,Roof rack                                                                            385
                                                                                                 ...
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                  1
Alloy wheels,Cab or rented Car,Roof rack,Sport seats,Touch screen,Trailer hitch,Voice Control       1
Catalytic Converter,Touch screen,Winter tyres                                                       1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                1
Alloy wheels,Cab or rented Car,Catalytic Converter,Sport suspension                                 1
Name: extras, Length: 659, dtype: int64

In [97]:
df_auto = df_auto.join(df_auto["extras"].str.get_dummies(sep = ",").add_prefix("ex_"))

In [98]:
df_auto.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'hp',
       ...
       'ex_Ski bag', 'ex_Sliding door', 'ex_Sport package', 'ex_Sport seats', 'ex_Sport suspension', 'ex_Touch screen', 'ex_Trailer hitch', 'ex_Tuned car', 'ex_Voice Control', 'ex_Winter tyres'], dtype='object', length=117)

***

### ```Safety and security```

In [99]:
df_auto.rename(columns = {"\nSafety & Security\n":"safe_sec"}, inplace = True)

In [100]:
100 * df_auto["safe_sec"].isnull().sum()/ df_auto.shape[0]

6.168729191532131

In [101]:
df_auto["safe_sec"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                        982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                 538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                             480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                           275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                     272
                                                                                                                                                                                                                                                                                                                                                                                          ...
[ABS, Adaptive Cruise Control, Central door lock, Driver-side airbag, Electronic stability control, Emergency brake assistant, Isofix, Lane departure warning system, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                 1
[ABS, Adaptive headlights, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]                                          1
[ABS, Alarm system, Central door lock, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                           1
[ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Head airbag, Immobilizer, Isofix, Lane departure warning system, Passenger-side airbag, Power steering, Rear airbag, Side airbag, Tire pressure monitoring system, Traction control]      1
[ABS, Central door lock with remote control, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Head airbag, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                        1
Name: safe_sec, Length: 4444, dtype: int64

In [102]:
df_auto["safe_sec"] = pd.DataFrame([",".join(item).strip() if type(item) == list else item for item in df_auto["safe_sec"]])

In [103]:
df_auto["safe_sec"].value_counts(dropna = False)

NaN                                                                                                                                                                                                                                                                                          982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                 538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                            480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                           275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                      272
                                                                                                                                                                                                                                                                                            ...
Alarm system,Central door lock,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Xenon headlights                                                    1
ABS,Adaptive Cruise Control,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition      1
ABS,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control                                           1
ABS,Central door lock,Central door lock with remote control,Driver-side airbag,Electronic stability control,Fog lights,Head airbag,Isofix,Lane departure warning system,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control          1
ABS,Central door lock,Daytime running lights,Electronic stability control,Fog lights,Immobilizer,LED Daytime Running Lights,Power steering                                                                                                                                                     1
Name: safe_sec, Length: 4444, dtype: int64

In [104]:
fillmost(df_auto,"make_model", "safe_sec")

In [105]:
df_auto["safe_sec"].value_counts(dropna = False)

ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                                 825
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                                            480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                      452
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                                                                                                                                                                                                                                           382
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                                                                                                                                                                                                                 345
                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency system,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition                                                                                                                                                                                         1
ABS,Adaptive headlights,Alarm system,Central door lock,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,LED Daytime Running Lights,LED Headlights,Power steering,Side airbag,Traction control,Xenon headlights                                                                                                                                                                              1
ABS,Adaptive Cruise Control,Adaptive headlights,Alarm system,Central door lock,Central door lock with remote control,Daytime running lights,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Emergency brake assistant,Emergency system,Fog lights,Head airbag,Immobilizer,Isofix,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights      1
ABS,Adaptive headlights,Central door lock,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Fog lights,Head airbag,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition                                                  1
ABS,Daytime running lights,Driver-side airbag,Electronic stability control,Passenger-side airbag,Power steering,Side airbag,Traction control                                                                                                                                                                                                                                                                                                                                   1
Name: safe_sec, Length: 4443, dtype: int64

In [106]:
df_auto = df_auto.join(df_auto["safe_sec"].str.get_dummies(sep = ",").add_prefix("ss_"))

In [107]:
df_auto.shape

(15919, 146)

***

### ```Consumption```

In [108]:
100 * df_auto["Consumption"].isnull().sum()/ df_auto.shape[0]

11.973113889063383

In [109]:
df_auto["Consumption"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[3.6 l/100 km (comb)], [], [4.4 l/100 km (country)]]                                    1
[\n, 4.8 l/100 km (comb), \n, 5.6 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[7.6 l/100 km (comb)], [], []]                                                          1
[[5.6 l/100 km (comb)], [7.6 l/100 km (city)], [4.4 l/100 km (country)]]                 1
[\n, 4.7 l/100 km (comb), \n, \n, \n]                                                    1
Name: Consumption, Length: 882, dtype: int64

In [110]:
df_auto["Consumption"].sample(55)

13940              [[5.7 l/100 km (comb)], [7.2 l/100 km (city)], [4.9 l/100 km (country)]]
2804                 [[4 l/100 km (comb)], [4.2 l/100 km (city)], [3.8 l/100 km (country)]]
13731              [[3.3 l/100 km (comb)], [3.5 l/100 km (city)], [3.1 l/100 km (country)]]
2050               [[4.8 l/100 km (comb)], [5.9 l/100 km (city)], [4.2 l/100 km (country)]]
9098               [[5.3 l/100 km (comb)], [6.6 l/100 km (city)], [4.5 l/100 km (country)]]
10626                                                                                   NaN
14274                [[5 l/100 km (comb)], [6.3 l/100 km (city)], [4.2 l/100 km (country)]]
11276              [[4.1 l/100 km (comb)], [4.8 l/100 km (city)], [3.7 l/100 km (country)]]
5341                 [[4.8 l/100 km (comb)], [6 l/100 km (city)], [4.1 l/100 km (country)]]
12739              [[6.1 l/100 km (comb)], [7.7 l/100 km (city)], [5.1 l/100 km (country)]]
12348              [[5.5 l/100 km (comb)], [6.9 l/100 km (city)], [4.6 l/100 km (country)]]
13167              [[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]
10376                                                       [[5.6 l/100 km (comb)], [], []]
1167               [[4.4 l/100 km (comb)], [5.2 l/100 km (city)], [3.9 l/100 km (country)]]
14089                                                                                   NaN
15038              [[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]
3614               [[4.9 l/100 km (comb)], [5.6 l/100 km (city)], [4.5 l/100 km (country)]]
2958                                                        [[3.9 l/100 km (comb)], [], []]
11303                [[7 l/100 km (comb)], [9.6 l/100 km (city)], [5.5 l/100 km (country)]]
15556                [[4.6 l/100 km (comb)], [5 l/100 km (city)], [4.4 l/100 km (country)]]
1139               [[4.4 l/100 km (comb)], [5.4 l/100 km (city)], [3.8 l/100 km (country)]]
5572                 [[5 l/100 km (comb)], [5.5 l/100 km (city)], [3.9 l/100 km (country)]]
2049               [[4.8 l/100 km (comb)], [5.9 l/100 km (city)], [4.2 l/100 km (country)]]
1630               [[4.5 l/100 km (comb)], [5.5 l/100 km (city)], [3.9 l/100 km (country)]]
1284               [[3.7 l/100 km (comb)], [4.5 l/100 km (city)], [3.2 l/100 km (country)]]
8398               [[6.6 l/100 km (comb)], [8.2 l/100 km (city)], [5.6 l/100 km (country)]]
13863                                                                                   NaN
3716               [[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]
1142                                                                                    NaN
1110               [[4.4 l/100 km (comb)], [5.4 l/100 km (city)], [3.8 l/100 km (country)]]
12147                    [[5 l/100 km (comb)], [7 l/100 km (city)], [4 l/100 km (country)]]
4699                                                                                    NaN
3618               [[4.9 l/100 km (comb)], [5.6 l/100 km (city)], [4.5 l/100 km (country)]]
114                  [[4.6 l/100 km (comb)], [5.6 l/100 km (city)], [4 l/100 km (country)]]
214                [[4.4 l/100 km (comb)], [5.4 l/100 km (city)], [3.8 l/100 km (country)]]
4166                 [[4 l/100 km (comb)], [4.7 l/100 km (city)], [3.6 l/100 km (country)]]
8088               [[4.7 l/100 km (comb)], [5.5 l/100 km (city)], [4.1 l/100 km (country)]]
3690                 [[4 l/100 km (comb)], [4.3 l/100 km (city)], [3.9 l/100 km (country)]]
9                                                                                       NaN
8052     [\n, 4.8 l/100 km (comb), \n, 5.6 l/100 km (city), \n, 4.3 l/100 km (country), \n]
3903               [[4.8 l/100 km (comb)], [5.8 l/100 km (city)], [4.2 l/100 km (country)]]
12876                    [[5 l/100 km (comb)], [6 l/100 km (city)], [4 l/100 km (country)]]
13848              [[3.3 l/100 km (comb)], [3.5 l/100 km (city)], [3.1 l/100 km (country)]]
5632                   [[4.4 l/100 km (comb)], [5 l/100 km (city)], [4 l/100 km (country)]]
6668               [[4.3 l/100 km (comb)], [5.2 l/100 km (city)], [3.8 l/100 km (country)]]
4565               [[4.2 l/100 km (comb)], [4.7 l/100 km (city)], [3.9 l/100 km (country)]]
885                [[3.8 l/100 km (comb)], [4.6 l/100 km (city)], [3.3 l/100 km (country)]]
15458              [[6.8 l/100 km (comb)], [8.7 l/100 km (city)], [5.7 l/100 km (country)]]
3956               [[3.9 l/100 km (comb)], [4.4 l/100 km (city)], [3.6 l/100 km (country)]]
2686               [[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]
14907                                   [[10 l/100 km (comb)], [], [10 l/100 km (country)]]
8669     [\n, 5.4 l/100 km (comb), \n, 6.7 l/100 km (city), \n, 4.6 l/100 km (country), \n]
15357              [[4.5 l/100 km (comb)], [5.1 l/100 km (city)], [4.2 l/100 km (country)]]
2025               [[4.8 l/100 km (comb)], [5.8 l/100 km (city)], [4.2 l/100 km (country)]]
8572     [\n, 5.9 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 4.7 l/100 km (country), \n]
Name: Consumption, dtype: object

#### There are three types of value in ```Consumption``` column which can effect the result. 
 - Type 1-one list and three sub list (comb,city,country), like= ``[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]``  
 - Type 2-one list and no sub list (comb,city,country), like = ``[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]``  
 - Type 3-one list and three sub lists some of which are empty, like = ``[[], [4.6 l/100 km (city)], [5.7 l/100 km (country)]]`` or ``[[4.2 l/100 km (comb)], [], []]`` or `[[], [], [5.1 l/100 km (country)]]`
 - So, we use ``str.extract()`` to select numeric consumption(comb) in different ways below.

In [111]:
df_auto["Consumption"].str[0].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                      1906
\n                        850
[3.9 l/100 km (comb)]     732
[4 l/100 km (comb)]       712
[5.4 l/100 km (comb)]     662
                         ...
[43 l/100 km (comb)]        1
[1 l/100 km (comb)]         1
[50 l/100 km (comb)]        1
[33 l/100 km (comb)]        1
[1.2 l/100 km (comb)]       1
Name: Consumption, Length: 82, dtype: int64

- There are 850 values in which only 'one' list (the value of ``"\n"`` indicates that). Consists of no sub list. 

- There are 127 values is ``'[]'`` which means there is no ``comb`` consumption. Only have ``city`` or ``country`` or both.

- There are still 1906 ``NaN``s.

- If consumption is two digits, Extraction function takes only first one. 
   - eg.: ``40`` → ``4``
   - eg.: ``33`` → ``3``

In [112]:
df_auto["Consumption"].str.len().unique()

array([ 3., nan,  7.,  5.])

In [113]:
df_auto[df_auto["Consumption"].str.len() == 3 ]["Consumption"].sample(50)

3330     [[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]
8387     [[4.8 l/100 km (comb)], [5.9 l/100 km (city)], [4.1 l/100 km (country)]]
14019    [[4.1 l/100 km (comb)], [4.3 l/100 km (city)], [3.9 l/100 km (country)]]
3132     [[3.8 l/100 km (comb)], [4.5 l/100 km (city)], [3.4 l/100 km (country)]]
12527    [[7.1 l/100 km (comb)], [9.6 l/100 km (city)], [5.6 l/100 km (country)]]
4180     [[4.8 l/100 km (comb)], [5.8 l/100 km (city)], [4.2 l/100 km (country)]]
4588       [[4 l/100 km (comb)], [4.5 l/100 km (city)], [3.7 l/100 km (country)]]
5132     [[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]
1214     [[3.9 l/100 km (comb)], [4.5 l/100 km (city)], [3.6 l/100 km (country)]]
1045     [[3.7 l/100 km (comb)], [4.3 l/100 km (city)], [3.4 l/100 km (country)]]
7353       [[6 l/100 km (comb)], [7.9 l/100 km (city)], [4.9 l/100 km (country)]]
14944    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)], [5.7 l/100 km (country)]]
1092     [[4.4 l/100 km (comb)], [5.4 l/100 km (city)], [3.8 l/100 km (country)]]
13080    [[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]
7269     [[5.1 l/100 km (comb)], [6.3 l/100 km (city)], [4.3 l/100 km (country)]]
1221     [[4.4 l/100 km (comb)], [5.2 l/100 km (city)], [3.9 l/100 km (country)]]
5220     [[5.5 l/100 km (comb)], [6.9 l/100 km (city)], [4.7 l/100 km (country)]]
8631     [[5.4 l/100 km (comb)], [6.7 l/100 km (city)], [4.6 l/100 km (country)]]
11682    [[4.3 l/100 km (comb)], [5.3 l/100 km (city)], [3.9 l/100 km (country)]]
991      [[4.9 l/100 km (comb)], [6.2 l/100 km (city)], [4.2 l/100 km (country)]]
12375    [[5.3 l/100 km (comb)], [6.9 l/100 km (city)], [4.3 l/100 km (country)]]
1153     [[4.9 l/100 km (comb)], [6.2 l/100 km (city)], [4.2 l/100 km (country)]]
10199          [[5 l/100 km (comb)], [6 l/100 km (city)], [4 l/100 km (country)]]
1776       [[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]
12209    [[5.7 l/100 km (comb)], [7.4 l/100 km (city)], [4.7 l/100 km (country)]]
2921       [[5 l/100 km (comb)], [6.1 l/100 km (city)], [4.3 l/100 km (country)]]
11460    [[5.1 l/100 km (comb)], [6.1 l/100 km (city)], [4.5 l/100 km (country)]]
8958     [[5.4 l/100 km (comb)], [6.7 l/100 km (city)], [4.6 l/100 km (country)]]
6567     [[5.4 l/100 km (comb)], [7.4 l/100 km (city)], [4.3 l/100 km (country)]]
11867    [[5.7 l/100 km (comb)], [7.2 l/100 km (city)], [4.9 l/100 km (country)]]
15086    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)], [5.7 l/100 km (country)]]
15423    [[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]
15081    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)], [5.7 l/100 km (country)]]
4026                        [[3.6 l/100 km (comb)], [], [4.4 l/100 km (country)]]
7909       [[5 l/100 km (comb)], [5.9 l/100 km (city)], [4.5 l/100 km (country)]]
15853    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)], [4.7 l/100 km (country)]]
7379     [[6.8 l/100 km (comb)], [8.6 l/100 km (city)], [5.8 l/100 km (country)]]
1375       [[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]
3820     [[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]
9827     [[5.2 l/100 km (comb)], [6.8 l/100 km (city)], [4.3 l/100 km (country)]]
5004     [[5.2 l/100 km (comb)], [6.4 l/100 km (city)], [4.4 l/100 km (country)]]
14697    [[5.2 l/100 km (comb)], [6.5 l/100 km (city)], [4.3 l/100 km (country)]]
4987     [[4.7 l/100 km (comb)], [5.7 l/100 km (city)], [4.1 l/100 km (country)]]
8592     [[5.1 l/100 km (comb)], [6.5 l/100 km (city)], [4.3 l/100 km (country)]]
13488                                             [[3.2 l/100 km (comb)], [], []]
8841     [[6.6 l/100 km (comb)], [8.2 l/100 km (city)], [5.7 l/100 km (country)]]
14115    [[5.6 l/100 km (comb)], [7.2 l/100 km (city)], [4.7 l/100 km (country)]]
5248     [[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]
4120     [[4.1 l/100 km (comb)], [4.6 l/100 km (city)], [3.7 l/100 km (country)]]
13440                                             [[3.3 l/100 km (comb)], [], []]
Name: Consumption, dtype: object

In [114]:
df_auto[df_auto["Consumption"].str.len() == 3 ]["Consumption"].sample(50)

7117     [[4.5 l/100 km (comb)], [5.7 l/100 km (city)], [3.8 l/100 km (country)]]
510      [[4.4 l/100 km (comb)], [5.2 l/100 km (city)], [3.9 l/100 km (country)]]
5920     [[4.5 l/100 km (comb)], [5.7 l/100 km (city)], [3.8 l/100 km (country)]]
4447                                              [[4.5 l/100 km (comb)], [], []]
15582    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)], [5.7 l/100 km (country)]]
10027    [[6.3 l/100 km (comb)], [7.8 l/100 km (city)], [5.4 l/100 km (country)]]
97         [[4 l/100 km (comb)], [4.6 l/100 km (city)], [3.6 l/100 km (country)]]
7269     [[5.1 l/100 km (comb)], [6.3 l/100 km (city)], [4.3 l/100 km (country)]]
10177    [[5.4 l/100 km (comb)], [6.7 l/100 km (city)], [4.6 l/100 km (country)]]
13618    [[3.3 l/100 km (comb)], [3.5 l/100 km (city)], [3.1 l/100 km (country)]]
14423    [[5.9 l/100 km (comb)], [7.6 l/100 km (city)], [5.1 l/100 km (country)]]
9882       [[6.9 l/100 km (comb)], [8.6 l/100 km (city)], [6 l/100 km (country)]]
2503       [[4.9 l/100 km (comb)], [6 l/100 km (city)], [4.2 l/100 km (country)]]
15362      [[4.4 l/100 km (comb)], [5.1 l/100 km (city)], [4 l/100 km (country)]]
15007    [[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]
2848                        [[], [3.5 l/100 km (city)], [3.8 l/100 km (country)]]
11673    [[5.7 l/100 km (comb)], [7.3 l/100 km (city)], [4.7 l/100 km (country)]]
7268     [[5.4 l/100 km (comb)], [7.1 l/100 km (city)], [4.4 l/100 km (country)]]
9666     [[5.9 l/100 km (comb)], [7.9 l/100 km (city)], [4.8 l/100 km (country)]]
12712    [[5.9 l/100 km (comb)], [7.6 l/100 km (city)], [4.9 l/100 km (country)]]
6172     [[5.1 l/100 km (comb)], [6.3 l/100 km (city)], [4.3 l/100 km (country)]]
5298     [[5.1 l/100 km (comb)], [5.8 l/100 km (city)], [4.7 l/100 km (country)]]
3811                          [[5 l/100 km (comb)], [], [4.3 l/100 km (country)]]
2669       [[4 l/100 km (comb)], [4.5 l/100 km (city)], [3.7 l/100 km (country)]]
748      [[3.5 l/100 km (comb)], [4.3 l/100 km (city)], [3.1 l/100 km (country)]]
1238     [[5.1 l/100 km (comb)], [6.6 l/100 km (city)], [4.3 l/100 km (country)]]
15136    [[6.2 l/100 km (comb)], [7.8 l/100 km (city)], [5.3 l/100 km (country)]]
9073     [[5.6 l/100 km (comb)], [7.3 l/100 km (city)], [4.7 l/100 km (country)]]
6934     [[5.4 l/100 km (comb)], [7.3 l/100 km (city)], [4.2 l/100 km (country)]]
9406                                              [[6.5 l/100 km (comb)], [], []]
13021    [[5.5 l/100 km (comb)], [7.1 l/100 km (city)], [4.6 l/100 km (country)]]
1311     [[3.7 l/100 km (comb)], [4.3 l/100 km (city)], [3.1 l/100 km (country)]]
13872    [[5.9 l/100 km (comb)], [7.6 l/100 km (city)], [5.1 l/100 km (country)]]
15867    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)], [5.6 l/100 km (country)]]
4181                        [[4.8 l/100 km (comb)], [], [4.2 l/100 km (country)]]
9194     [[3.8 l/100 km (comb)], [4.6 l/100 km (city)], [3.3 l/100 km (country)]]
8945     [[5.4 l/100 km (comb)], [6.7 l/100 km (city)], [4.6 l/100 km (country)]]
2486       [[4.9 l/100 km (comb)], [6 l/100 km (city)], [4.2 l/100 km (country)]]
7309     [[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [4.2 l/100 km (country)]]
9368         [[6 l/100 km (comb)], [8 l/100 km (city)], [4.9 l/100 km (country)]]
12566    [[6.9 l/100 km (comb)], [8.3 l/100 km (city)], [5.8 l/100 km (country)]]
15830    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)], [5.6 l/100 km (country)]]
8742     [[5.3 l/100 km (comb)], [6.6 l/100 km (city)], [4.5 l/100 km (country)]]
2262       [[4.9 l/100 km (comb)], [6 l/100 km (city)], [4.2 l/100 km (country)]]
4030       [[4 l/100 km (comb)], [4.5 l/100 km (city)], [3.7 l/100 km (country)]]
7460     [[5.1 l/100 km (comb)], [6.3 l/100 km (city)], [4.3 l/100 km (country)]]
15644    [[5.6 l/100 km (comb)], [6.1 l/100 km (city)], [5.3 l/100 km (country)]]
9742       [[5 l/100 km (comb)], [6.3 l/100 km (city)], [4.2 l/100 km (country)]]
10362    [[5.7 l/100 km (comb)], [7.2 l/100 km (city)], [4.8 l/100 km (country)]]
5722     [[4.5 l/100 km (comb)], [5.7 l/100 km (city)], [3.8 l/100 km (country)]]
Name: Consumption, dtype: object

In [115]:
df_auto[df_auto["Consumption"].str.len() == 7 ]["Consumption"]

61       [\n, 4.4 l/100 km (comb), \n, 5.2 l/100 km (city), \n, 3.9 l/100 km (country), \n]
128        [\n, 5 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.3 l/100 km (country), \n]
155      [\n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.2 l/100 km (country), \n]
156      [\n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.2 l/100 km (country), \n]
164      [\n, 4.9 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.2 l/100 km (country), \n]
                                                ...
15492    [\n, 6.8 l/100 km (comb), \n, 8.7 l/100 km (city), \n, 5.7 l/100 km (country), \n]
15690    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]
15889    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]
15907      [\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]
Name: Consumption, Length: 836, dtype: object

In [116]:
combo_d = []
city_d = []
country_d = []

for row in df_auto["Consumption"]:
    if type(row) == list:
        if len(row) == 3:
            combo_d.append(row[0])
            city_d.append(row[1])
            country_d.append(row[2])
        elif len(row) == 7:
            combo_d.append(row[1])
            city_d.append(row[3])
            country_d.append(row[5])
        elif len(row) == 5:
            combo_d.append(row[1])
            city_d.append(np.nan)
            country_d.append(np.nan)
    else:
        combo_d.append(row)
        city_d.append(row)
        country_d.append(row)

In [117]:
len(city_d)

15919

In [118]:
ff_cons = pd.DataFrame({"comb": combo_d, "city": city_d, "country" : country_d})

In [119]:
new_comb = ff_cons["comb"].str[0].str.extract("(\d.\d|\d)")
new_comb = pd.to_numeric(new_comb[0])

new_city = ff_cons["city"].str[0].str.extract("(\d.\d|\d)")
new_city = pd.to_numeric(new_city[0])

new_country = ff_cons["country"].str[0].str.extract("(\d.\d|\d)")
new_country = pd.to_numeric(new_country[0])

In [120]:
avg = (new_city + new_country) / 2
new_comb.fillna(avg, inplace = True)

In [121]:
new_comb.fillna(new_country, inplace  = True)

In [122]:
new_comb

0        3.8
1        5.6
2        3.8
3        3.8
4        4.1
        ...
15914    5.3
15915    7.0
15916    5.3
15917    5.3
15918    6.8
Name: 0, Length: 15919, dtype: float64

In [123]:
new_comb.value_counts(dropna =False)

NaN     1906
5.00     927
4.00     918
3.90     732
5.40     663
        ...
5.45       2
7.50       1
4.55       1
9.10       1
1.20       1
Name: 0, Length: 65, dtype: int64

In [124]:
new_comb.unique()

array([3.8 , 5.6 , 4.1 , 3.5 , 3.7 ,  nan, 4.  , 4.9 , 4.2 , 4.5 , 4.4 ,
       4.3 , 3.  , 3.6 , 3.4 , 3.9 , 5.1 , 5.2 , 4.6 , 4.8 , 5.  , 5.8 ,
       4.7 , 1.  , 4.55, 6.  , 5.9 , 5.3 , 3.65, 3.6 , 5.5 , 3.3 , 3.95,
       3.2 , 6.6 , 8.3 , 6.5 , 7.1 , 8.1 , 5.4 , 6.4 , 6.7 , 6.2 , 7.3 ,
       6.3 , 5.7 , 6.1 , 6.8 , 7.5 , 7.4 , 0.  , 5.45, 7.8 , 3.1 , 6.9 ,
       7.  , 7.2 , 8.  , 9.1 , 8.6 , 8.7 , 7.9 , 5.15, 1.2 , 7.6 ])

In [125]:
df_auto["consumption_numeric"] = new_comb

In [126]:
df_auto["consumption_numeric"].value_counts(dropna = False)

NaN     1906
5.00     927
4.00     918
3.90     732
5.40     663
        ...
5.45       2
7.50       1
4.55       1
9.10       1
1.20       1
Name: consumption_numeric, Length: 65, dtype: int64

***

### ```Gearing Type```

In [127]:
df_auto["Gearing Type"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [128]:
df_auto.rename(columns = {"Gearing Type":"gear_type"}, inplace = True)

In [129]:
df_auto["gear_type"] = df_auto["gear_type"].str[1]

In [130]:
df_auto["gear_type"].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gear_type, dtype: int64

***

### ```Drive chain```

In [131]:
df_auto["Drive chain"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
NaN            6858
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [132]:
df_auto["drive_chain"] = df_auto["Drive chain"].str[0].str.strip('\n')

In [133]:
df_auto["drive_chain"].value_counts(dropna = False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

***

### ```Model Code```

In [134]:
df_auto["Model Code"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN               10941
[\n0035/BCB\n]      268
[\n0588/BNO\n]      245
[\n0588/BDB\n]      206
[\n0588/BHX\n]      188
                  ...
[\n1844/AEN\n]        1
[\n0588/AVR\n]        1
[\n0035/AFF\n]        1
[\n1844/AFM\n]        1
[\n0035/AVN\n]        1
Name: Model Code, Length: 233, dtype: int64

In [135]:
df_auto["Model Code"].str[0].str.strip('\n')

0        0588/BDF
1        0588/BCY
2             NaN
3             NaN
4        0588/BDF
           ...
15914         NaN
15915    0000/000
15916         NaN
15917         NaN
15918    3333/BHJ
Name: Model Code, Length: 15919, dtype: object

In [136]:
df_auto.drop("Model Code", axis = 1, inplace = True)

***

### ```Body Color```

In [137]:
df_auto["Body Color"].value_counts(dropna =False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [138]:
df_auto["body_color"] = df_auto["Body Color"].str[1]

In [139]:
df_auto["body_color"].value_counts(dropna = False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

In [140]:
df_auto.drop("Body Color", axis = 1, inplace = True)

In [141]:
df_auto["body_color"].fillna(method = "bfill", inplace = True)

In [142]:
df_auto.body_color.value_counts(dropna = False)

Black     3888
Grey      3638
White     3540
Silver    1687
Blue      1524
Red        989
Brown      299
Green      163
Beige      108
Yellow      53
Violet      18
Bronze       7
Orange       3
Gold         2
Name: body_color, dtype: int64

***

### ```Body Color Original```

In [143]:
df_auto["Body Color Original"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                             3759
[\nOnyx Schwarz\n]               338
[\nBianco\n]                     282
[\nMythosschwarz Metallic\n]     238
[\nBrillantschwarz\n]            216
                                ...
[\nBianca - Tetto Nero\n]          1
[\ndezir rot\n]                    1
[\nnero/tetto argento met\n]       1
[\nPython Yellow Metallic\n]       1
[\nkarbongrau\n]                   1
Name: Body Color Original, Length: 1928, dtype: int64

In [144]:
df_auto.drop("Body Color Original",axis = 1, inplace = True)

***

### ```CO2 Emission```

In [145]:
df_auto["CO2 Emission"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n193 g CO2/km (comb)\n]         1
[\n171 g CO2/km (comb)\n]         1
[\n990 g CO2/km (comb)\n]         1
[\n1,060 g CO2/km (comb)\n]       1
[\n183 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 124, dtype: int64

In [146]:
df_auto["CO2 Emission"].str[0].str.strip('\n').value_counts(dropna = False).sample(55)

NaN                       2436
140 g CO2/km (comb)        218
331 g CO2/km (comb)          1
89 g CO2/km (comb)          19
14,457 g CO2/km (comb)       1
158 g CO2/km (comb)         17
95 g CO2/km (comb)         161
105 g CO2/km (comb)        202
99 g CO2/km (comb)         545
127 g CO2/km (comb)        257
85 g CO2/km (comb)         275
177 g CO2/km (comb)          1
130 g CO2/km (comb)        180
116 g CO2/km (comb)        157
181 g CO2/km (comb)          1
5 g CO2/km (comb)            3
123 g CO2/km (comb)        178
183 g CO2/km (comb)          1
171 g CO2/km (comb)          1
103 g CO2/km (comb)        445
134 g CO2/km (comb)        130
193 g CO2/km (comb)          1
141 g CO2/km (comb)        156
97 g CO2/km (comb)         537
139 g CO2/km (comb)        224
145 g CO2/km (comb)        126
102 g CO2/km (comb)        477
1 g CO2/km (comb)            1
154 g CO2/km (comb)         40
13,983 g CO2/km (comb)       1
175 g CO2/km (comb)          8
117 g CO2/km (comb)        254
174 g CO2/km (comb)          6
164 g CO2/km (comb)         13
239 g CO2/km (comb)          1
115 g CO2/km (comb)         86
124 g CO2/km (comb)        372
128 g CO2/km (comb)        329
87 g CO2/km (comb)           6
144 g CO2/km (comb)         40
104 g CO2/km (comb)        501
168 g CO2/km (comb)         58
113 g CO2/km (comb)        235
119 g CO2/km (comb)        361
88 g CO2/km (comb)          15
1,060 g CO2/km (comb)        1
161 g CO2/km (comb)         10
170 g CO2/km (comb)         10
151 g CO2/km (comb)         34
137 g CO2/km (comb)        133
36 g CO2/km (comb)           3
160 g CO2/km (comb)          1
188 g CO2/km (comb)          7
14 g CO2/km (comb)           1
142 g CO2/km (comb)         58
Name: CO2 Emission, dtype: int64

In [147]:
df_auto["CO2 Emission"].str[0].str.strip('\n').str.replace(',','').value_counts(dropna =False).sample(55)

161 g CO2/km (comb)       10
1 g CO2/km (comb)          1
0 g CO2/km (comb)          2
80 g CO2/km (comb)         1
131 g CO2/km (comb)       48
119 g CO2/km (comb)      361
199 g CO2/km (comb)        2
111 g CO2/km (comb)      237
122 g CO2/km (comb)       83
253 g CO2/km (comb)        1
99 g CO2/km (comb)       545
108 g CO2/km (comb)      362
116 g CO2/km (comb)      157
128 g CO2/km (comb)      329
14 g CO2/km (comb)         1
138 g CO2/km (comb)       75
189 g CO2/km (comb)       19
157 g CO2/km (comb)       18
98 g CO2/km (comb)       151
127 g CO2/km (comb)      257
139 g CO2/km (comb)      224
151 g CO2/km (comb)       34
94 g CO2/km (comb)        37
164 g CO2/km (comb)       13
143 g CO2/km (comb)      171
105 g CO2/km (comb)      202
990 g CO2/km (comb)        1
159 g CO2/km (comb)        7
186 g CO2/km (comb)       30
137 g CO2/km (comb)      133
331 g CO2/km (comb)        1
180 g CO2/km (comb)        1
110 g CO2/km (comb)      266
239 g CO2/km (comb)        1
89 g CO2/km (comb)        19
100 g CO2/km (comb)       36
90 g CO2/km (comb)        35
165 g CO2/km (comb)        1
118 g CO2/km (comb)      270
155 g CO2/km (comb)        8
181 g CO2/km (comb)        1
172 g CO2/km (comb)       25
124 g CO2/km (comb)      372
145 g CO2/km (comb)      126
187 g CO2/km (comb)       26
140 g CO2/km (comb)      218
82 g CO2/km (comb)        25
144 g CO2/km (comb)       40
129 g CO2/km (comb)      213
115 g CO2/km (comb)       86
12087 g CO2/km (comb)      3
101 g CO2/km (comb)      105
125 g CO2/km (comb)      132
166 g CO2/km (comb)        8
113 g CO2/km (comb)      235
Name: CO2 Emission, dtype: int64

In [148]:
df_auto["CO2 Emission"].str[0].str.strip('\n').str.replace(',','').unique()

array(['99 g CO2/km (comb)', '129 g CO2/km (comb)', '109 g CO2/km (comb)',
       '92 g CO2/km (comb)', '98 g CO2/km (comb)', '97 g CO2/km (comb)',
       nan, '105 g CO2/km (comb)', '112 g CO2/km (comb)',
       '103 g CO2/km (comb)', '102 g CO2/km (comb)', '95 g CO2/km (comb)',
       '104 g CO2/km (comb)', '91 g CO2/km (comb)', '94 g CO2/km (comb)',
       '117 g CO2/km (comb)', '123 g CO2/km (comb)',
       '106 g CO2/km (comb)', '108 g CO2/km (comb)',
       '121 g CO2/km (comb)', '107 g CO2/km (comb)',
       '101 g CO2/km (comb)', '113 g CO2/km (comb)',
       '137 g CO2/km (comb)', '100 g CO2/km (comb)',
       '116 g CO2/km (comb)', '114 g CO2/km (comb)',
       '118 g CO2/km (comb)', '331 g CO2/km (comb)',
       '115 g CO2/km (comb)', '119 g CO2/km (comb)', '90 g CO2/km (comb)',
       '136 g CO2/km (comb)', '134 g CO2/km (comb)',
       '110 g CO2/km (comb)', '111 g CO2/km (comb)',
       '120 g CO2/km (comb)', '89 g CO2/km (comb)', '142 g CO2/km (comb)',
       '126 g CO2/km (comb)', '122 g CO2/km (comb)',
       '128 g CO2/km (comb)', '127 g CO2/km (comb)',
       '138 g CO2/km (comb)', '130 g CO2/km (comb)',
       '125 g CO2/km (comb)', '85 g CO2/km (comb)', '124 g CO2/km (comb)',
       '152 g CO2/km (comb)', '88 g CO2/km (comb)', '189 g CO2/km (comb)',
       '194 g CO2/km (comb)', '149 g CO2/km (comb)',
       '153 g CO2/km (comb)', '188 g CO2/km (comb)', '36 g CO2/km (comb)',
       '1060 g CO2/km (comb)', '96 g CO2/km (comb)',
       '990 g CO2/km (comb)', '146 g CO2/km (comb)',
       '135 g CO2/km (comb)', '158 g CO2/km (comb)',
       '12087 g CO2/km (comb)', '141 g CO2/km (comb)',
       '172 g CO2/km (comb)', '154 g CO2/km (comb)',
       '150 g CO2/km (comb)', '167 g CO2/km (comb)',
       '174 g CO2/km (comb)', '93 g CO2/km (comb)', '133 g CO2/km (comb)',
       '131 g CO2/km (comb)', '145 g CO2/km (comb)',
       '147 g CO2/km (comb)', '156 g CO2/km (comb)', '87 g CO2/km (comb)',
       '5 g CO2/km (comb)', '148 g CO2/km (comb)', '139 g CO2/km (comb)',
       '151 g CO2/km (comb)', '144 g CO2/km (comb)',
       '168 g CO2/km (comb)', '160 g CO2/km (comb)',
       '170 g CO2/km (comb)', '80 g CO2/km (comb)', '132 g CO2/km (comb)',
       '155 g CO2/km (comb)', '14 g CO2/km (comb)', '159 g CO2/km (comb)',
       '0 g CO2/km (comb)', '143 g CO2/km (comb)', '140 g CO2/km (comb)',
       '82 g CO2/km (comb)', '12324 g CO2/km (comb)',
       '84 g CO2/km (comb)', '165 g CO2/km (comb)', '51 g CO2/km (comb)',
       '157 g CO2/km (comb)', '169 g CO2/km (comb)',
       '166 g CO2/km (comb)', '253 g CO2/km (comb)',
       '164 g CO2/km (comb)', '175 g CO2/km (comb)',
       '190 g CO2/km (comb)', '161 g CO2/km (comb)',
       '239 g CO2/km (comb)', '197 g CO2/km (comb)',
       '184 g CO2/km (comb)', '14457 g CO2/km (comb)',
       '199 g CO2/km (comb)', '13983 g CO2/km (comb)',
       '187 g CO2/km (comb)', '181 g CO2/km (comb)',
       '186 g CO2/km (comb)', '177 g CO2/km (comb)',
       '180 g CO2/km (comb)', '162 g CO2/km (comb)', '45 g CO2/km (comb)',
       '171 g CO2/km (comb)', '183 g CO2/km (comb)', '1 g CO2/km (comb)',
       '191 g CO2/km (comb)', '193 g CO2/km (comb)'], dtype=object)

In [149]:
pattern = "(\d\d\d\d\d|\d\d\d\d|\d\d\d|\d\d|\d)"

df_auto["co2_emission"] = df_auto["CO2 Emission"].str[0].str.strip('\n').str.replace(',','').str.extract(pattern)

In [150]:
df_auto["co2_emission"].value_counts(dropna =False)

NaN      2436
120       740
99        545
97        537
104       501
         ...
180         1
184         1
12324       1
239         1
160         1
Name: co2_emission, Length: 123, dtype: int64

In [151]:
df_auto["co2_emission"].median()

116.0

In [152]:

df_auto["co2_emission"].fillna(df_auto["co2_emission"].median(), inplace = True)

In [153]:
df_auto["co2_emission"].value_counts(dropna = False)

116.0    2436
120       740
99        545
97        537
104       501
         ...
180         1
184         1
12324       1
239         1
160         1
Name: co2_emission, Length: 123, dtype: int64

***

### ```Displacement```

In [154]:
df_auto["Displacement"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
                   ...
[\n1,800 cc\n]        1
[\n140 cc\n]          1
[\n15,898 cc\n]       1
[\n1,686 cc\n]        1
[\n1,368 cc\n]        1
Name: Displacement, Length: 78, dtype: int64

In [155]:
df_auto["displacement_cc"] = df_auto["Displacement"].str[0].str.strip('\n')

In [156]:
df_auto.replace({"displacement_cc": {",":"", " ":"", "cc":""}}, regex = True, inplace =True)

In [157]:
df_auto.displacement_cc.head(20)

0     1422
1     1798
2     1598
3     1422
4     1422
5     1598
6     1598
7     1422
8     1598
9      999
10    1598
11    1395
12    1395
13    1395
14     999
15    1598
16    1598
17    1422
18     999
19    1598
Name: displacement_cc, dtype: object

In [158]:
df_auto.displacement_cc = pd.to_numeric(df_auto.displacement_cc)

***

### ```Emission Class```

In [159]:
df_auto["Emission Class"].isnull().sum() / len(df_auto["Emission Class"])

0.18977322696149257

In [160]:
df_auto["Emission Class"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [161]:
df_auto["emission_class"] = df_auto["Emission Class"].str[0].str.strip('\n')

In [162]:
df_auto.replace({"emission_class" : {"Euro 6d-TEMP":"Euro 6", "Euro 6c":"Euro 6", "Euro 6d":"Euro 6"}}, regex = True, inplace = True)

In [163]:
df_auto["emission_class"].value_counts(dropna = False)

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

***

### ```First Registration```

In [164]:
df_auto['First Registration'].isnull().sum()/df_auto['First Registration'].shape[0]*100

10.032037188265594

In [165]:
df_auto["First Registration"].value_counts(dropna =False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: First Registration, dtype: int64

In [166]:
df_auto["First Registration"].str[1]

0        2016
1        2017
2        2016
3        2016
4        2016
         ...
15914     NaN
15915    2019
15916    2019
15917    2019
15918    2019
Name: First Registration, Length: 15919, dtype: object

In [167]:
df_auto["register_age"] = pd.to_numeric(df_auto["First Registration"].str[1])

df_auto.register_age.value_counts(dropna = False)

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
NaN       1597
Name: register_age, dtype: int64

In [168]:
df_auto.register_age = 2020 - df_auto.register_age

In [169]:
df_auto.register_age.value_counts(dropna =False)

2.0    4522
4.0    3674
3.0    3273
1.0    2853
NaN    1597
Name: register_age, dtype: int64

***

### ```Fuel```

In [170]:
df_auto["Fuel"].value_counts(dropna=False).head(40)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                                                                                  4315
[\n, Super 95, \n]                                                                                                     3338
[\n, Gasoline, \n]                                                                                                     3175
[\n, Diesel, \n]                                                                                                       2984
[\n, Super 95 / Regular/Benzine 91, \n]                                                                                 424
[\n, Regular/Benzine 91, \n]                                                                                            354
[\n, Super E10 95, \n]                                                                                                  331
[\n, Super 95 (Particulate Filter), \n]                                                                                 268
[\n, Super 95 / Super E10 95, \n]                                                                                       131
[\n, Regular/Benzine 91 (Particulate Filter), \n]                                                                       100
[\n, Super 95 / Super Plus 98, \n]                                                                                       85
[\n, Gasoline (Particulate Filter), \n]                                                                                  77
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]                                                    40
[\n, Super E10 95 / Super 95, \n]                                                                                        38
[\n, CNG, \n]                                                                                                            33
[\n, Super 95 / Super E10 95 (Particulate Filter), \n]                                                                   25
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98, \n]                                                    19
[\n, LPG, \n]                                                                                                            16
[\n, Super 95 / Super Plus 98 (Particulate Filter), \n]                                                                  14
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]      13
[\n, Regular/Benzine E10 91, \n]                                                                                         11
[\n, Liquid petroleum gas (LPG), \n]                                                                                     10
[\n, Super 95 / Super Plus 98 / Super E10 95, \n]                                                                         8
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98, \n]       7
[\n, Super E10 95 (Particulate Filter), \n]                                                                               7
[\n, Super Plus 98, \n]                                                                                                   7
[\n, Regular/Benzine 91 / Regular/Benzine E10 91, \n]                                                                     7
[\n, Others, \n]                                                                                                          5
[\n, Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95, \n]                                                     5
[\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter), \n]                                4
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]       4
[\n, Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                                                     4
[\n, Electric/Gasoline, \n]                                                                                               4
[\n, Super E10 95 / Super Plus E10 98, \n]                                                                                4
[\n, CNG (Particulate Filter), \n]                                                                                        3
[\n, Super E10 95 / Super 95 / Super Plus 98, \n]                                                                         3
[\n, Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter), \n]                                3
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98, \n]                                                                   2
[\n, Super E10 95 / Regular/Benzine 91, \n]                                                                               2
[\n, Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91, \n]       2
Name: Fuel, dtype: int64

In [171]:
df_auto["fuel_new"] = df_auto["Fuel"].str[1]

In [172]:
diesel_bool = df_auto["fuel_new"].str.contains("diesel", case = False, regex = True )

In [173]:
lpg_bool = df_auto["fuel_new"].str.contains("lpg|cng|bio|domestic|electric", case = False, regex = True )

In [174]:
df_auto.loc[diesel_bool, "fuel_new"] = "Diesel"

In [175]:
df_auto.loc[lpg_bool, "fuel_new"] = "LPG/CNG"

In [176]:
df_auto.fuel_new.loc[lambda x : x != "Diesel"][lambda x : x != "LPG/CNG"]

1                                             Gasoline
9                                             Gasoline
11                                            Super 95
12                                  Regular/Benzine 91
13                                            Gasoline
                             ...
15908                                         Gasoline
15910                           Regular/Benzine E10 91
15913                                         Super 95
15915    Super 95 / Super Plus 98 (Particulate Filter)
15918                                         Super 95
Name: fuel_new, Length: 8550, dtype: object

In [177]:
benzine_bool = (df_auto["fuel_new"] != "Diesel") & (df_auto["fuel_new"] != "LPG/CNG")

In [178]:
df_auto.loc[benzine_bool, "fuel_new"] = "Benzine"

In [179]:
df_auto["fuel_new"].value_counts(dropna = False)

Benzine    8550
Diesel     7299
LPG/CNG      70
Name: fuel_new, dtype: int64

***

### ```Gears```

In [180]:
df_auto.Gears.isnull().sum()/df_auto.Gears.shape[0]*100

29.599849236761106

In [181]:
df_auto.Gears.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [182]:
df_auto["gears"] = df_auto.Gears.str[0].str.strip('\n')

In [183]:
df_auto.gears.value_counts()

6     5822
5     3239
7     1908
8      224
9        6
3        2
1        2
4        2
50       1
2        1
Name: gears, dtype: int64

In [184]:
df_auto[df_auto["gears"] == "50"].index

Int64Index([14495], dtype='int64')

In [185]:
df_auto.gears.iloc[14495] = "5"

In [186]:
df_auto.gears.value_counts()

6    5822
5    3240
7    1908
8     224
9       6
3       2
1       2
4       2
2       1
Name: gears, dtype: int64

***

### ```Make```

In [187]:
df_auto["Make"].value_counts(dropna = False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [188]:
df_auto["Make"].str.strip('\n').value_counts(dropna = False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [189]:
df_auto["Make"] = df_auto["Make"].str.strip('\n')

***

### ```Model```

In [190]:
df_auto["Model"].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [191]:
df_auto["Model"] = df_auto["Model"].str[1]

***

### ``` Nr. of Doors```

In [192]:
df_auto["Nr. of Doors"].isnull().sum()/df_auto["Nr. of Doors"].shape[0]*100

1.3317419435894216

In [193]:
df_auto['Nr. of Doors'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [194]:
df_auto['Nr. of Doors'].str[0].str.strip('\n').value_counts(dropna = False)

5      11575
4       3079
3        832
2        219
NaN      212
7          1
1          1
Name: Nr. of Doors, dtype: int64

In [195]:
df_auto['Nr. of Doors'] = df_auto['Nr. of Doors'].str[0].str.strip('\n')

In [196]:
df_auto.rename(columns = {"Nr. of Doors":"nr_doors"}, inplace = True)

***

### ```Nr. of Seats```

In [197]:
df_auto["Nr. of Seats"].isnull().sum()/df_auto["Nr. of Seats"].shape[0]*100

6.137320183428607

In [198]:
df_auto['Nr. of Seats'].value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [199]:
df_auto['nr_seats'] = df_auto['Nr. of Seats'].str[0].str.strip('\n')

In [200]:
df_auto['nr_seats'].value_counts(dropna = False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: nr_seats, dtype: int64

***

### ```Offer Number```

will be dropped

In [201]:
df_auto["Offer Number"]

0             [\nLR-062483\n]
1                         NaN
2              [\nAM-95365\n]
3                         NaN
4                 [\nC1626\n]
                 ...
15914          [\n10988301\n]
15915       [\n507370_3223\n]
15916          [\nEspace16\n]
15917           [\n2691331\n]
15918    [\nRe_30000008029\n]
Name: Offer Number, Length: 15919, dtype: object

In [202]:
df_auto.drop("Offer Number", axis=1 , inplace = True)

***

### ```Type```

In [203]:
df_auto.Type.isnull().sum()/df_auto.Type.shape[0]*100

0.012563603241409635

In [204]:
df_auto.Type.str[1].value_counts(dropna = False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [205]:
df_auto.Type=df_auto.Type.str[1]

***

### ```Upholstery```

In [206]:
df_auto.Upholstery

0               [\nCloth, Black\n]
1                [\nCloth, Grey\n]
2               [\nCloth, Black\n]
3                              NaN
4               [\nCloth, Black\n]
                   ...
15914                          NaN
15915                  [\nCloth\n]
15916    [\nFull leather, Black\n]
15917           [\nPart leather\n]
15918    [\nFull leather, Brown\n]
Name: Upholstery, Length: 15919, dtype: object

In [207]:
df_auto.Upholstery = df_auto.Upholstery.str[0].str.strip('\n')

In [208]:
df_auto.Upholstery.value_counts(dropna =False)

Cloth, Black           5821
NaN                    3720
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Full leather, Brown     116
Part leather, Grey      116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Full leather, Beige      36
Velour, Black            36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Cloth, Blue              12
Brown                    12
Velour, Grey              8
Cloth, White              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Beige                     3
Part leather, Red         3
White                     2
Full leather, Blue        2
alcantara, Other          2
Part leather, Beige       2
Blue                      2
alcantara                 2
Part leather, White       2
Cloth, Orange             1
Other, Brown              1
Full leather, Red         1
Full leather, White       1
Name: Upholstery, dtype: int64

***

### ```Warranty```

In [209]:
df_auto.Warranty.isnull().sum()/ df_auto.Warranty.shape[0] * 100

34.047364784220115

In [210]:
df_auto.Warranty.isnull().sum()

5420

In [211]:
df_auto.Warranty.value_counts(dropna=False).sample(55)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n24 months\n, \n145 g CO2/km (comb)\n]                                                              13
[\n12 months\n, \n90 g CO2/km (comb)\n]                                                                2
[\n, \n, \n12,087 g CO2/km (comb)\n]                                                                   1
[\n14 months\n, \n120 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n115 g CO2/km (comb)\n]                                                               3
[\n6 months\n, \n92 g CO2/km (comb)\n]                                                                 2
[\n12 months\n, \n124 g CO2/km (comb)\n]                                                              33
[\n48 months\n, \n113 g CO2/km (comb)\n]                                                               3
[\n12 months\n, \n111 g CO2/km (comb)\n]                                                               3
[\n12 months\n, \n105 g CO2/km (comb)\n]                                                              16
[\n47 months\n, \n4 (Green)\n]                                                                         1
[\n12 months\n, \n116 g CO2/km (comb)\n]                                                              10
[\n60 months\n, \n, 5.8 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 4.9 l/100 km (country), \n]      2
[\n, \n, \n93 g CO2/km (comb)\n]                                                                       1
[\n36 months\n, \n99 g CO2/km (comb)\n]                                                               60
[\n24 months\n, \n116 g CO2/km (comb)\n]                                                               4
[\n60 months\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.7 l/100 km (country), \n]      2
\n30 months\n                                                                                          1
[\n, \n, \n92 g CO2/km (comb)\n]                                                                      14
[\n20 months\n, \n139 g CO2/km (comb)\n]                                                               1
\n6 months\n                                                                                          76
[\n60 months\n, \n, 6.4 l/100 km (comb), \n, 8.3 l/100 km (city), \n, 5.3 l/100 km (country), \n]      1
[\n36 months\n, \n102 g CO2/km (comb)\n]                                                               4
[\n18 months\n, \nEuro 6\n]                                                                            1
[\n36 months\n, \n107 g CO2/km (comb)\n]                                                               1
[\n60 months\n, \n, 4.5 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 4 l/100 km (country), \n]        1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.4 l/100 km (country), \n]             2
[\n, \n, \n151 g CO2/km (comb)\n]                                                                      5
[\n22 months\n, \n106 g CO2/km (comb)\n]                                                               1
[\n60 months\n, \n128 g CO2/km (comb)\n]                                                              33
[\n12 months\n, \n127 g CO2/km (comb)\n]                                                              14
[\n2 months\n, \nEuro 6\n]                                                                             2
[\n24 months\n, \n134 g CO2/km (comb)\n]                                                               9
[\n72 months\n, \n139 g CO2/km (comb)\n]                                                               3
[\n12 months\n, \n, 5.6 l/100 km (comb), \n, 7.2 l/100 km (city), \n, 4.7 l/100 km (country), \n]      1
[\n12 months\n, \n110 g CO2/km (comb)\n]                                                              15
[\n7 months\n, \n134 g CO2/km (comb)\n]                                                                1
[\n36 months\n, \n, 6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 4.8 l/100 km (country), \n]        1
[\n36 months\n, \n, 5.5 l/100 km (comb), \n, 6.9 l/100 km (city), \n, 4.6 l/100 km (country), \n]      1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                      1
[\n40 months\n]                                                                                        1
[\n6 months\n, \n108 g CO2/km (comb)\n]                                                                1
[\n24 months\n]                                                                                       19
[\n24 months\n, \n126 g CO2/km (comb)\n]                                                               2
[\n, \n]                                                                                             364
[\n72 months\n, \n129 g CO2/km (comb)\n]                                                               4
[\n, \n, \n133 g CO2/km (comb)\n]                                                                     32
[\n12 months\n, \n113 g CO2/km (comb)\n]                                                              10
[\n15 months\n, \n132 g CO2/km (comb)\n]                                                               1
[\n, \n, \n104 g CO2/km (comb)\n]                                                                     44
[\n24 months\n, \n, 6 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 4.9 l/100 km (country), \n]        3
[\n12 months\n, \n, 6.3 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.4 l/100 km (country), \n]      4
[\n, \n, \n107 g CO2/km (comb)\n]                                                                     25
[\n, \n, \n199 g CO2/km (comb)\n]                                                                      2
[\n12 months\n, \n119 g CO2/km (comb)\n]                                                              24
Name: Warranty, dtype: int64

In [212]:

warranty_list = ["".join(item).strip() if type(item) == list else item for item in df_auto["Warranty"]]

In [213]:
df_auto["warranty_month"] = pd.DataFrame(warranty_list)

In [214]:
df_auto["warranty_month"].value_counts(dropna = False).sample(55)

24 months\n\n111 g CO2/km (comb)                                                    8
7 months\n\n134 g CO2/km (comb)                                                     1
36 months\n\n112 g CO2/km (comb)                                                    2
121 g CO2/km (comb)                                                                 4
92 g CO2/km (comb)                                                                 14
110 g CO2/km (comb)                                                                35
24 months\n\n104 g CO2/km (comb)                                                   14
36 months\n\n97 g CO2/km (comb)                                                     4
12 months\n\n139 g CO2/km (comb)                                                    4
6 months\n\n104 g CO2/km (comb)                                                     2
12 months\n\n85 g CO2/km (comb)                                                    25
21 months\n\n120 g CO2/km (comb)                                                    1
6 months\n\n97 g CO2/km (comb)                                                      1
24 months\n\n135 g CO2/km (comb)                                                    4
20 months\n\nEuro 6                                                                 3
\n3 months\n                                                                       19
3 months\n\n110 g CO2/km (comb)                                                     4
4.7 l/100 km (comb)\n5.9 l/100 km (city)\n4 l/100 km (country)                      2
72 months\n\n154 g CO2/km (comb)                                                    1
12 months\n\n92 g CO2/km (comb)                                                    29
60 months\n\nEuro 6d-TEMP                                                          16
                                                                                  364
60 months\n\n5.6 l/100 km (comb)\n7.6 l/100 km (city)\n4.4 l/100 km (country)       2
24 months\n\n121 g CO2/km (comb)                                                    1
96 g CO2/km (comb)                                                                  2
24 months\n\n146 g CO2/km (comb)                                                    2
34 months                                                                           1
36 months\n\n102 g CO2/km (comb)                                                    4
Euro 6d-TEMP                                                                      362
60 months\n\n138 g CO2/km (comb)                                                    2
72 months\n\n114 g CO2/km (comb)                                                    1
150 g CO2/km (comb)                                                                21
24 months\n\n97 g CO2/km (comb)                                                    14
18 months\n\nEuro 6                                                                 1
60 months\n\n108 g CO2/km (comb)                                                    1
48 months\n\n104 g CO2/km (comb)                                                    2
12 months\n\n146 g CO2/km (comb)                                                    1
6 l/100 km (comb)\n7.8 l/100 km (city)\n4.9 l/100 km (country)                      2
\n12 months\n                                                                    1177
24 months\n\n116 g CO2/km (comb)                                                    4
\n9 months\n                                                                        2
36 months\n\n103 g CO2/km (comb)                                                    5
23 months\n\nEuro 6                                                                 1
24 months\n\n187 g CO2/km (comb)                                                    7
72 months\n\n102 g CO2/km (comb)                                                    1
12 months\n\n5.9 l/100 km (comb)\n7.5 l/100 km (city)\n4.9 l/100 km (country)       1
100 g CO2/km (comb)                                                                 4
102 g CO2/km (comb)                                                                33
48 months\n\n4 (Green)                                                              3
117 g CO2/km (comb)                                                                39
4.3 l/100 km (comb)\n5.1 l/100 km (city)\n3.8 l/100 km (country)                    2
12 months\n\n95 g CO2/km (comb)                                                    21
60 months\n\n149 g CO2/km (comb)                                                    3
12 months\n\n98 g CO2/km (comb)                                                    11
119 g CO2/km (comb)                                                                28
Name: warranty_month, dtype: int64

In [215]:
df_auto.warranty_month=df_auto.warranty_month.str.extract("(\d\d months|\d months)")

In [216]:
df_auto.warranty_month.value_counts(dropna = False)

NaN          11066
12 months     2594
24 months     1118
60 months      401
36 months      279
48 months      149
6 months       125
72 months       59
3 months        33
23 months       11
18 months       10
20 months        7
25 months        6
2 months         5
50 months        4
26 months        4
16 months        4
13 months        3
4 months         3
19 months        3
1 months         3
34 months        3
28 months        2
14 months        2
22 months        2
9 months         2
45 months        2
46 months        2
11 months        2
17 months        2
21 months        2
8 months         1
56 months        1
30 months        1
49 months        1
10 months        1
7 months         1
33 months        1
47 months        1
40 months        1
65 months        1
15 months        1
Name: warranty_month, dtype: int64

In [217]:
df_auto.drop(["Warranty", "warranty_month"], axis = 1, inplace = True)

***

### ```description```

In [218]:
df_auto.description.head()

0    [\n, Sicherheit:,  , Deaktivierung für Beifahrer-Airbag,  , ESC mit elektronischer Quersperre,  , Tagfahrlicht,  , Reifendruck-Kontrollanzeige,  , Kopfairbag-System mit Seiten-Airbags vorn,  , Sicherheitslenksäule, Assistenzsysteme:,  , Berganfahrassistent, Komfort:,  , Scheinwerferreinigung,  , Xenon plus inklusive Scheinwerfer-Reinigungsanlage,  , Scheinwerfer-Reinigungsanlage,  , Einparkhilfe hinten,  , Licht-/Regensensor,  , Funkfernbedienung,  , Elektrische Luftzusatzheizung, Interieur:...
1                                                                                                                                                                                                                                                                                                                                                                                                           [\nLangstreckenfahrzeug daher die hohe Kilometerleistung. , Bremsen neu bei 62000 km. , Gut gepflegter A1\n]
2    [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 24.640 EUR,  , Komfort,  , Klimaanlage,  , Elektrische Fensterheber,  , Sitzheizung,  , Tempomat,  , Zentralverriegelung,  , Leder-Lenkrad,  , Elektrische Spiegel,  , Wärmedämmendes Glas,  , Anfahrassistent,  , Sicherheit,  , Window/Kopfairbags,  , ESP (el. Stabilitäts Programm),  , Elektronische Wegfahrsperre,  , Reifendruckkontrolle,  , Tagfahrlicht,  , Exterieur,  , Alufelgen 16 Zoll,  , Einparkhilfe vo + hi,  , Interieur,  , Stoff Zeitgeist,  ...
3                                                                                                                                                                                                                                                                               [\nAudi A1: , - 1e eigenaar , - Perfecte staat: schade/ongevalvrij , - Onderhoudsboekje Audi garage , - Full option!, - S-line opties, - Automaat, lederen bekleding, navi-pro, Xenon lampen, zetelverwarming, automatische airco,...\n]
4    [\n, Technik & Sicherheit:, Xenon plus, Klimaautomatik, Einparkhilfe hinten, Scheinwerferreinigungsanlage, Nebelscheinwerfer, Zentralverriegelung mit Fernbedienung, Außenspiegel elek. einstellbar, Fensterheber elek, Start/Stop Anlage, 6 Airbag inkl. Kopfairbag, Euro 6, Multimedia:, Radio CD Concert, audi music interface, Handyvorbereitung (Bluetooth), Sprachsteuerung, USB Anschluss, Assistenzsysteme:, Lichtsensor, Regensensor, Berganfahrassistent, Reifendruckkontrolle, ESP inkl. ABS, Interie...
Name: description, dtype: object

In [219]:
df_auto.drop('description', axis=1, inplace = True)

***

### ```hp```

In [220]:
df_auto["hp"].value_counts(dropna = False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
137 kW       1
44 kW        1
123 kW       1
75 kW        1
132 kW       1
Name: hp, Length: 81, dtype: int64

In [221]:
df_auto["hp"].isnull().sum()

0

In [222]:
df_auto.hp.value_counts(dropna=False).sample(55)

88 kW      177
85 kW     2542
1 kW        20
155 kW       6
121 kW     392
154 kW      39
101 kW      47
44 kW        1
117 kW       6
98 kW        3
149 kW       3
103 kW     253
127 kW       2
184 kW       5
120 kW       8
76 kW        4
82 kW       22
4 kW         1
54 kW      276
78 kW       20
86 kW        2
132 kW       1
63 kW        2
135 kW      24
165 kW     194
56 kW      286
163 kW       1
104 kW       8
93 kW        3
57 kW       10
123 kW       1
146 kW      18
167 kW       2
96 kW       72
55 kW      569
67 kW       40
66 kW     2122
53 kW        2
92 kW      466
191 kW       7
294 kW      18
162 kW      98
119 kW      30
112 kW       7
70 kW      888
239 kW       1
80 kW        3
140 kW       2
100 kW    1308
52 kW       22
65 kW        4
75 kW        1
133 kW       1
110 kW    1112
9 kW         1
Name: hp, dtype: int64

In [223]:
df_auto.hp.unique()

array(['66 kW', '141 kW', '85 kW', '70 kW', '92 kW', '112 kW', '60 kW',
       '71 kW', '67 kW', '110 kW', '93 kW', '147 kW', '86 kW', '140 kW',
       '87 kW', '- kW', '81 kW', '82 kW', '135 kW', '132 kW', '100 kW',
       '96 kW', '162 kW', '150 kW', '294 kW', '228 kW', '270 kW',
       '137 kW', '9 kW', '133 kW', '77 kW', '101 kW', '78 kW', '103 kW',
       '1 kW', '74 kW', '118 kW', '84 kW', '88 kW', '80 kW', '76 kW',
       '149 kW', '44 kW', '51 kW', '55 kW', '52 kW', '63 kW', '40 kW',
       '65 kW', '75 kW', '125 kW', '120 kW', '184 kW', '239 kW', '121 kW',
       '143 kW', '191 kW', '89 kW', '195 kW', '127 kW', '122 kW',
       '154 kW', '155 kW', '104 kW', '123 kW', '146 kW', '90 kW', '53 kW',
       '54 kW', '56 kW', '164 kW', '4 kW', '163 kW', '57 kW', '119 kW',
       '165 kW', '117 kW', '115 kW', '98 kW', '168 kW', '167 kW'],
      dtype=object)

In [224]:

df_auto.replace({"hp" : {" kW" : "", "-" : "0"}}, regex = True, inplace = True)

In [225]:
df_auto["hp_kw"] = pd.to_numeric(df_auto.hp)

In [226]:
df_auto.hp_kw.value_counts(dropna = False)

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
163       1
123       1
115       1
75        1
239       1
Name: hp_kw, Length: 81, dtype: int64

***

### ```km```

In [227]:
df_auto.km.isnull().sum()

0

In [228]:
df_auto.km.value_counts(dropna = False)

10 km         1045
- km          1024
1 km           367
5 km           170
50 km          148
              ...
16,174 km        1
15,648 km        1
21,443 km        1
102,103 km       1
119,500 km       1
Name: km, Length: 6690, dtype: int64

 - There are "-" values which means NaNs. We can not accept these values as 0 km.

In [229]:
df_auto[df_auto["km"] == "- km"]["register_age"].value_counts(dropna = False)

NaN    838
1.0    147
2.0     38
3.0      1
Name: register_age, dtype: int64

In [230]:
df_auto.replace({"km" : {" km" : "", "," : "", "-" : np.nan}}, regex = True, inplace = True)

In [231]:
df_auto.km = pd.to_numeric(df_auto.km)

In [232]:
df_auto.km.value_counts(dropna = False)

10.0       1045
NaN        1024
1.0         367
5.0         170
50.0        148
           ...
8329.0        1
267.0         1
1060.0        1
73652.0       1
49320.0       1
Name: km, Length: 6690, dtype: int64

***

### ```make_model```

In [233]:
df_auto.make_model.isnull().sum()

0

In [234]:
df_auto.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [235]:
df_auto.drop(["Make", "Model"], axis = 1, inplace = True)

***

### ```null ```

In [236]:
df_auto.null.isnull().sum()

0

In [237]:
df_auto.null.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [238]:
df_auto.drop("null", axis = 1, inplace = True)

***

### ```registration```

In [239]:
df_auto.registration.isnull().sum()

0

In [240]:
df_auto.registration.value_counts(dropna = False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
12/2019       1
11/2019       1
Name: registration, dtype: int64

***

### ```short _description```#

In [241]:
df_auto.short_description.isnull().sum()

46

In [242]:
df_auto.short_description.value_counts(dropna = False)

SPB 1.6 TDI 116 CV S tronic Sport                     64
NaN                                                   46
1.4 66kW (90CV) Selective                             40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH                 38
SPB 30 TFSI S tronic Admired                          35
                                                      ..
Edition, 5-Türer 1.4, (90 PS)/Klima/PDC/Radio/SHZ/     1
Insignia "B" 2.0 D B.-Ed. *ACC*Park&Go*                1
Sportback 1.0 TFSI Sport Pro Line Navi, Airco, Aut     1
1.4 ST INNOVATION 5 J. Händlergar. inkl.               1
K 5türig Ultimate+1.6 Turbo+OPC-Line+Automatik+Led     1
Name: short_description, Length: 10002, dtype: int64

In [243]:
df_auto.drop("short_description", axis = 1, inplace = True)

***

### ```url```

In [244]:
df_auto.url.head()

0           https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e
1                                        https://www.autoscout24.com//offers/audi-a1-1-8-tfsi-sport-gasoline-red-b2547f8a-e83f-6237-e053-e250040a56df
2    https://www.autoscout24.com//offers/audi-a1-sportback-1-6-tdi-s-tronic-einparkhilfe-plus-music-diesel-black-6183cb6a-8570-4b86-a132-9b54214bca88
3                               https://www.autoscout24.com//offers/audi-a1-1-4-tdi-design-s-tronic-diesel-brown-35c86585-2727-d61e-e053-e250040ad640
4      https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-s-line-ext-admired-xe-diesel-black-b86b55d8-9c7c-4a58-b658-b97008a51efc
Name: url, dtype: object

In [245]:
df_auto.drop('url', axis = 1, inplace = True)

***
### ```vat```

In [246]:
df_auto.vat.isnull().sum()/df_auto.vat.shape[0]*100

28.349770714240847

In [247]:
df_auto.vat.value_counts(dropna = False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

***

### ```price```

In [248]:
df_auto.price.isnull().sum()

0

In [249]:
df_auto.price.sort_values()

8594        13
8828       120
6066       255
8829       331
8827      4950
         ...
15828    64332
3587     64900
3649     67600
15826    68320
3648     74600
Name: price, Length: 15919, dtype: int64

In [250]:
df_auto.price.value_counts(dropna = False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
48490      1
36180      1
40745      1
9545       1
34815      1
Name: price, Length: 2956, dtype: int64

In [251]:
print(list(df_auto.columns))

['make_model', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'First Registration', 'Paint Type', 'Upholstery', 'nr_doors', 'Nr. of Seats', 'gear_type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', 'ent_media', 'extras', 'safe_sec', 'Emission Label', 'Gears', 'Country version', 'pre_owner_temp', 'pre_owner_new', 'inspection_new', 'next_inspection', 'paint_type', 'country_version', 'cylinders_new', 'emission_label', 'comfort_convenience', 'cc_Air conditioning', 'cc_Air suspension', 'cc_Armrest', 'cc_Automatic climate control', 'cc_Auxiliary heating', 'cc_Cruise control', 'cc_Electric Starter', 'cc_Electric tailgate', 'cc_Electrical side mirrors', 'cc_Electrically adjustable seats', 'cc_Electrically heated windshield', 'cc_Heads-up display', 'cc_Heated steering wheel', 'cc_Hill Holder', 'cc_Keyless central door lock', 'cc_Leather seats', 'cc_Leather steering wheel', 'cc_Light sensor', 'cc_Lumbar support', 'cc_Massage seats', 'cc_Multi-function steering wheel', 'cc_Navigation system', 'cc_Panorama roof', 'cc_Park Distance Control', 'cc_Parking assist system camera', 'cc_Parking assist system self-steering', 'cc_Parking assist system sensors front', 'cc_Parking assist system sensors rear', 'cc_Power windows', 'cc_Rain sensor', 'cc_Seat heating', 'cc_Seat ventilation', 'cc_Split rear seats', 'cc_Start-stop system', 'cc_Sunroof', 'cc_Tinted windows', 'cc_Wind deflector', 'cc_Windshield', 'em_Bluetooth', 'em_CD player', 'em_Digital radio', 'em_Hands-free equipment', 'em_MP3', 'em_On-board computer', 'em_Radio', 'em_Sound system', 'em_Television', 'em_USB', 'ex_Alloy wheels', 'ex_Cab or rented Car', 'ex_Catalytic Converter', 'ex_Handicapped enabled', 'ex_Right hand drive', 'ex_Roof rack', 'ex_Shift paddles', 'ex_Ski bag', 'ex_Sliding door', 'ex_Sport package', 'ex_Sport seats', 'ex_Sport suspension', 'ex_Touch screen', 'ex_Trailer hitch', 'ex_Tuned car', 'ex_Voice Control', 'ex_Winter tyres', 'ss_ABS', 'ss_Adaptive Cruise Control', 'ss_Adaptive headlights', 'ss_Alarm system', 'ss_Blind spot monitor', 'ss_Central door lock', 'ss_Central door lock with remote control', 'ss_Daytime running lights', 'ss_Driver drowsiness detection', 'ss_Driver-side airbag', 'ss_Electronic stability control', 'ss_Emergency brake assistant', 'ss_Emergency system', 'ss_Fog lights', 'ss_Head airbag', 'ss_Immobilizer', 'ss_Isofix', 'ss_LED Daytime Running Lights', 'ss_LED Headlights', 'ss_Lane departure warning system', 'ss_Night view assist', 'ss_Passenger-side airbag', 'ss_Power steering', 'ss_Rear airbag', 'ss_Side airbag', 'ss_Tire pressure monitoring system', 'ss_Traction control', 'ss_Traffic sign recognition', 'ss_Xenon headlights', 'consumption_numeric', 'drive_chain', 'body_color', 'co2_emission', 'displacement_cc', 'emission_class', 'register_age', 'fuel_new', 'gears', 'nr_seats', 'hp_kw']

In [252]:
drop_columns = [ 'Next Inspection', 'Inspection new', 
               'First Registration', 'Paint Type', 
               'Nr. of Seats', 'Displacement', 'Drive chain', 
               'Fuel', 'Consumption','CO2 Emission', 'Emission Class',
               'Emission Label', 'Country version', 'comfort_convenience', 
                'ent_media', 'safe_sec', "hp",
               'Previous Owners', 'Weight', 'extras', 'Gears', 'Cylinders',
                'pre_owner_temp', 'prev_owner']

In [253]:
df_auto1 = df_auto.drop(drop_columns, axis =1)

In [254]:
df_auto1.shape

(15919, 122)

In [255]:
df_auto1.columns = df_auto1.columns.str.lower()

In [256]:
list(df_auto1.columns)

['make_model',
 'body_type',
 'price',
 'vat',
 'km',
 'registration',
 'type',
 'upholstery',
 'nr_doors',
 'gear_type',
 'pre_owner_new',
 'inspection_new',
 'next_inspection',
 'paint_type',
 'country_version',
 'cylinders_new',
 'emission_label',
 'cc_air conditioning',
 'cc_air suspension',
 'cc_armrest',
 'cc_automatic climate control',
 'cc_auxiliary heating',
 'cc_cruise control',
 'cc_electric starter',
 'cc_electric tailgate',
 'cc_electrical side mirrors',
 'cc_electrically adjustable seats',
 'cc_electrically heated windshield',
 'cc_heads-up display',
 'cc_heated steering wheel',
 'cc_hill holder',
 'cc_keyless central door lock',
 'cc_leather seats',
 'cc_leather steering wheel',
 'cc_light sensor',
 'cc_lumbar support',
 'cc_massage seats',
 'cc_multi-function steering wheel',
 'cc_navigation system',
 'cc_panorama roof',
 'cc_park distance control',
 'cc_parking assist system camera',
 'cc_parking assist system self-steering',
 'cc_parking assist system sensors front',
 'cc_parking assist system sensors rear',
 'cc_power windows',
 'cc_rain sensor',
 'cc_seat heating',
 'cc_seat ventilation',
 'cc_split rear seats',
 'cc_start-stop system',
 'cc_sunroof',
 'cc_tinted windows',
 'cc_wind deflector',
 'cc_windshield',
 'em_bluetooth',
 'em_cd player',
 'em_digital radio',
 'em_hands-free equipment',
 'em_mp3',
 'em_on-board computer',
 'em_radio',
 'em_sound system',
 'em_television',
 'em_usb',
 'ex_alloy wheels',
 'ex_cab or rented car',
 'ex_catalytic converter',
 'ex_handicapped enabled',
 'ex_right hand drive',
 'ex_roof rack',
 'ex_shift paddles',
 'ex_ski bag',
 'ex_sliding door',
 'ex_sport package',
 'ex_sport seats',
 'ex_sport suspension',
 'ex_touch screen',
 'ex_trailer hitch',
 'ex_tuned car',
 'ex_voice control',
 'ex_winter tyres',
 'ss_abs',
 'ss_adaptive cruise control',
 'ss_adaptive headlights',
 'ss_alarm system',
 'ss_blind spot monitor',
 'ss_central door lock',
 'ss_central door lock with remote control',
 'ss_daytime running lights',
 'ss_driver drowsiness detection',
 'ss_driver-side airbag',
 'ss_electronic stability control',
 'ss_emergency brake assistant',
 'ss_emergency system',
 'ss_fog lights',
 'ss_head airbag',
 'ss_immobilizer',
 'ss_isofix',
 'ss_led daytime running lights',
 'ss_led headlights',
 'ss_lane departure warning system',
 'ss_night view assist',
 'ss_passenger-side airbag',
 'ss_power steering',
 'ss_rear airbag',
 'ss_side airbag',
 'ss_tire pressure monitoring system',
 'ss_traction control',
 'ss_traffic sign recognition',
 'ss_xenon headlights',
 'consumption_numeric',
 'drive_chain',
 'body_color',
 'co2_emission',
 'displacement_cc',
 'emission_class',
 'register_age',
 'fuel_new',
 'gears',
 'nr_seats',
 'hp_kw']

In [257]:
df_auto1.shape

(15919, 122)

In [258]:
df_auto1.drop("registration", axis = 1, inplace =True)

In [259]:
df_auto1.shape

(15919, 121)

In [260]:
df_auto1.to_csv("scout_car_precleaned.csv", index = False)

## End of this Project. Next step will be :


  - Handling with Missing Values and Outliers,
  - Continue to clean DataSet.
  - Make the DataSet ready to go into ML Models